docs/pakobling-til-freg/kontrakter/RekvisisjonAvDNummer_4.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v4" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v4" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="DigitalSignatur.xsd" />
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2017-08-08T12:02:57.387+0200" name="generertDato" />
      <xsd:attribute fixed="4.0" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="RekvisisjonAvDNummer 4.0" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v4" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="false" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="rekvisisjonAvDNummer" type="RekvisisjonAvDNummer" />
  <xsd:complexType name="RekvisisjonAvDNummer">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending" />
      <xsd:element name="forespoersel" type="ForespoerselOmRekvisisjonAvDNummer" />
      <xsd:element ref="ds:Signature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BekreftelsePaaManglendeIdentifikasjonsdokumentkopi">
    <xsd:sequence>
      <xsd:element name="identifikasjonsdokumentMangler" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BekreftetIdentitet">
    <xsd:sequence>
      <xsd:element name="identitetErBekreftet" type="Boolsk" />
      <xsd:element name="organisasjonsnavn" type="NavnMedInnhold" />
      <xsd:element name="organisasjonsidentifikator" type="Tekst" minOccurs="0" />
      <xsd:element name="bekreftersLand" type="LandkodeIsoAlfa3" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisterkandidat">
    <xsd:sequence>
      <xsd:element name="navn" type="Personnavn" />
      <xsd:element name="foedselsdatoErKjent" type="Boolsk" />
      <xsd:element name="foedselsdato" type="Dato" />
      <xsd:element name="foedeland" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="kjoenn" type="Kjoenn" />
      <xsd:element name="oppholdsadresse" type="OffisiellOppholdsAdresse" minOccurs="0" />
      <xsd:element name="postadresse" type="Kontaktadresse" minOccurs="0" />
      <xsd:element name="postadresseIUtlandet" type="Kontaktadresse" minOccurs="0" />
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" maxOccurs="unbounded" />
      <xsd:element name="harUkjentOppholdsadresse" type="Boolsk" />
      <xsd:element name="skalFaaUtskrift" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmRekvisisjonAvDNummer">
    <xsd:sequence>
      <xsd:element name="kandidat" type="Folkeregisterkandidat" />
      <xsd:element name="kilde" type="KildeForRekvisisjonAvDNummer" />
      <xsd:element name="rekvireringsdato" type="Dato" />
      <xsd:element name="identifikasjon" type="Identifikasjon" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0" />
      <xsd:element name="avsendersSaksbehandler" type="Tekst" nillable="true" />
      <xsd:element name="identitetskontrollKreves" type="Boolsk" />
      <xsd:element name="papirrekvisisjon" type="Papirrekvisisjon" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjon">
    <xsd:sequence>
      <xsd:element name="personidentifikasjon" type="Personidentifikasjon" minOccurs="0" />
      <xsd:element name="dokumentgrunnlag" type="Identifikasjonsdokument" minOccurs="0" />
      <xsd:element name="identitetsbekreftelse" type="BekreftetIdentitet" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokument">
    <xsd:sequence>
      <xsd:element name="identifikasjonsdokumentnummer" type="TekstMedInnhold" />
      <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype" />
      <xsd:element name="utstedernavn" type="NavnMedInnhold" minOccurs="0" />
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
      <xsd:element name="gyldigFra" type="Dato" minOccurs="0" />
      <xsd:element name="gyldigTil" type="Dato" minOccurs="0" />
      <xsd:choice>
        <xsd:element name="dokumentkopi" type="Identifikasjonsdokumentkopi" />
        <xsd:element name="manglendeIdentifikasjonsdokumentkopi" type="BekreftelsePaaManglendeIdentifikasjonsdokumentkopi" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokumentkopi">
    <xsd:sequence>
      <xsd:element name="rettkjentKopiBekreftetAv" type="Identifikator" minOccurs="0" />
      <xsd:element name="bekreftersLand" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst" />
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktadresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="postboksadresse" type="Postboksadresse" />
        <xsd:element name="vegadresse" type="VegadresseForPost" />
        <xsd:element name="matrikkeladresse" type="Matrikkeladresse" />
        <xsd:element name="utenlandskPostadresse" type="InternasjonalAdresse" />
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OffisiellOppholdsAdresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="vegadresse" type="Vegadresse" />
        <xsd:element name="matrikkeladresse" type="Matrikkeladresse" />
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk" />
      <xsd:element name="oppholdsadressedato" type="Dato" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Papirrekvisisjon">
    <xsd:sequence>
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personidentifikasjon">
    <xsd:sequence>
      <xsd:element name="identifikasjonsnummer" type="Tekst" />
      <xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype" />
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VegadresseForPost">
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="adressenavn" type="TekstMedInnhold" />
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0" />
      <xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="poststed" type="Poststed" />
      <xsd:element name="adressekode" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternasjonalAdresse">
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="adressenavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="bygning" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="etasjenummer" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="boenhet" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="postboks" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="postkode" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="byEllerStedsnavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="distriktsnavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="administrativEnhet" type="TekstMedInnhold" minOccurs="0" maxOccurs="6" />
      <xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0" />
      <xsd:element name="landkode" type="LandkodeIsoAlfa3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="KildeForRekvisisjonAvDNummer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsdirektoratet" />
      <xsd:enumeration value="nav" />
      <xsd:enumeration value="skatteetaten" />
      <xsd:enumeration value="skatteetatenPaaSvalbard" />
      <xsd:enumeration value="bankOgFinansinstitusjon" />
      <xsd:enumeration value="helfo" />
      <xsd:enumeration value="broennoeysundregistrene" />
      <xsd:enumeration value="statensKartverk" />
      <xsd:enumeration value="verdipapirsentralen" />
      <xsd:enumeration value="diverse" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="NavnMedInnhold">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element name="fornavn" type="NavnMedInnhold" />
      <xsd:element name="mellomnavn" type="NavnMedInnhold" minOccurs="0" />
      <xsd:element name="etternavn" type="NavnMedInnhold" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
      <xsd:enumeration value="ukjent" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsdokumenttype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pass" />
      <xsd:enumeration value="servicepass" />
      <xsd:enumeration value="tjenestepass" />
      <xsd:enumeration value="spesialpass" />
      <xsd:enumeration value="diplomatpass" />
      <xsd:enumeration value="utlendingspass" />
      <xsd:enumeration value="noedpass" />
      <xsd:enumeration value="passerbrev" />
      <xsd:enumeration value="nasjonaltIdentitetskort" />
      <xsd:enumeration value="reisebevisForFlyktninger" />
      <xsd:enumeration value="schengenStandardisertOppholdskort" />
      <xsd:enumeration value="foererkort" />
      <xsd:enumeration value="foedselsmelding" />
      <xsd:enumeration value="foedselsattest" />
      <xsd:enumeration value="folkeregisterutskrift" />
      <xsd:enumeration value="helsetrygdekort" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:complexType name="Postboksadresse">
    <xsd:sequence>
      <xsd:element name="postbokseier" type="NavnMedInnhold" minOccurs="0" />
      <xsd:element name="postboks" type="TekstMedInnhold" />
      <xsd:element name="poststed" type="Poststed" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Matrikkeladresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0" />
        <xsd:element name="matrikkeladressenavn" type="TekstMedInnhold" minOccurs="0" />
      </xsd:choice>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="matrikkelnummer" type="Matrikkelnummer" />
      <xsd:element name="undernummer" type="Heltall" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse">
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="adressenavn" type="TekstMedInnhold" />
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0" />
      <xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="poststed" type="Poststed" />
      <xsd:element name="adressekode" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="kommunenummer" type="Kommunenummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikasjonsnummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="taxIdentificationNumber" />
      <xsd:enumeration value="socialSecurityNumber" />
      <xsd:enumeration value="utenlandskIdentifikasjonsnummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Adressenummer">
    <xsd:sequence>
      <xsd:element name="husnummer" type="Husnummer" />
      <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Poststed">
    <xsd:sequence>
      <xsd:element name="poststedsnavn" type="TekstMedInnhold" />
      <xsd:element name="postnummer" type="Postnummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Adressebrukskategori">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="offisiellForretning" />
      <xsd:enumeration value="offisiellPost" />
      <xsd:enumeration value="virksomhet" />
      <xsd:enumeration value="bosted" />
      <xsd:enumeration value="post" />
      <xsd:enumeration value="leveranse" />
      <xsd:enumeration value="ukjent" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Matrikkelnummer">
    <xsd:sequence>
      <xsd:element name="kommunenummer" type="Kommunenummer" />
      <xsd:element name="gaardsnummer" type="Heltall" />
      <xsd:element name="bruksnummer" type="Heltall" />
      <xsd:element name="festenummer" type="Heltall" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Heltall">
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="4" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husbokstav">
    <xsd:restriction base="Tekst">
      <xsd:length value="1" />
      <xsd:pattern value="[A-Za-z]" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>