docs/nytt-fodselsnummer-fra-2032/kontrakter/MeldingOmVigsel_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:melding:vigsel:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:vigsel:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2022-05-05T07:32:54.246+0200" name="generertDato" />
      <xsd:attribute fixed="1.0" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="MeldingOmVigsel" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:melding:vigsel:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="true" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
      <xsd:attribute fixed="false" name="norskeTegn" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="meldingOmVigsel" type="MeldingOmVigsel" />
  <xsd:complexType name="MeldingOmVigsel">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending" />
      <xsd:element name="forespoersel" type="ForespoerselOmRegistreringAvVigsel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Ektefelle">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" minOccurs="0" />
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="personnavn" type="Personnavn" minOccurs="0" />
          <xsd:element name="foedselsdato" type="Dato" minOccurs="0" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="ekteskapsnummer" type="Heltall" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmRegistreringAvVigsel">
    <xsd:sequence>
      <xsd:element name="kilde" type="KildeForMeldingOmVigsel" />
      <xsd:element name="ektefelle" type="Ektefelle" minOccurs="0" maxOccurs="2" />
      <xsd:element name="vigsel" type="Vigsel" minOccurs="0" />
      <xsd:element name="vedlegg" type="Vedlegg" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="vigselsmeldingErKorrektUnderskrevet" type="JaNeiVetIkke" minOccurs="0" />
      <xsd:element name="saksnummerForProevingAvEkteskap" type="Tekst" minOccurs="0" />
      <xsd:element name="personeneStemmerMedProevingsattest" type="JaNeiVetIkke" minOccurs="0" />
      <xsd:element name="mottaksdato" type="Dato" minOccurs="0" />
      <xsd:element name="innsender" type="Innsender" minOccurs="0" />
      <xsd:element name="mottak" type="Informasjonsmottak" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Informasjonsmottak">
    <xsd:sequence>
      <xsd:element name="informasjonskanal" type="KanalForRegistreringAvVigsel" />
      <xsd:element name="puncher" type="Identifikator" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsender">
    <xsd:sequence>
      <xsd:element name="navn" type="Navn" minOccurs="0" />
      <xsd:element name="identitet" type="NorskIdentifikator" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>Avsenders identifikator for meldingen som benyttes for referanse mot Folkeregisterets tilbakesendte meldingsidentifikator
            for samme melding (vårMeldingsidentifikator)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:sequence>
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vigsel">
    <xsd:sequence>
      <xsd:element name="vigselsdato" type="Dato" minOccurs="0" />
      <xsd:element name="vigselssted" type="Tekst" minOccurs="0" />
      <xsd:element name="vigselsmyndighet" type="Vigselsmyndighet" minOccurs="0" />
      <xsd:element name="vigselsmyndighetSomKommune" type="Kommunenummer" minOccurs="0" />
      <xsd:element name="vigselstype" type="Vigselstype" minOccurs="0" />
      <xsd:element name="vigslerHarGyldigVigselsmyndighet" type="JaNeiVetIkke" minOccurs="0" />
      <xsd:element name="vigselsbokErIOrden" type="JaNeiVetIkke" minOccurs="0" />
      <xsd:element name="vigselErUtfoertPaaStedHvorVigslerHarMyndighet" type="JaNeiVetIkke" minOccurs="0" />
      <xsd:element name="vigselsland" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="vigselsmyndighetSomAnnetTrosEllerLivssynssamfunn" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>navn på person</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fornavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>fornavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mellomnavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>mellomnavn på person
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="etternavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>etternavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="JaNeiVetIkke">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ja" />
      <xsd:enumeration value="nei" />
      <xsd:enumeration value="vetIkke" />
      <xsd:enumeration value="ikkeRelevant" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KanalForRegistreringAvVigsel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="papirmelding" />
      <xsd:enumeration value="manuellRegistrering" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KildeForMeldingOmVigsel">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="folkeregisteret" />
      <xsd:enumeration value="ansattIKommune" />
      <xsd:enumeration value="denNorskeKirke" />
      <xsd:enumeration value="trosEllerLivssynssamfunnMedVigselsrett" />
      <xsd:enumeration value="utenrikstjenesten" />
      <xsd:enumeration value="sysselmannenPaaSvalbard" />
      <xsd:enumeration value="saerskiltOppnevntVigsler" />
      <xsd:enumeration value="utenlandskMyndighet" />
      <xsd:enumeration value="innbygger" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Vigselsmyndighet">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ansattIKommune" />
      <xsd:enumeration value="denNorskeKirke" />
      <xsd:enumeration value="trosEllerLivssynssamfunnMedVigselsrett" />
      <xsd:enumeration value="utenrikstjenesten" />
      <xsd:enumeration value="sysselmannenPaaSvalbard" />
      <xsd:enumeration value="saerskiltOppnevntVigsler" />
      <xsd:enumeration value="utenlandskMyndighet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Vigselstype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kirkelig" />
      <xsd:enumeration value="borgerlig" />
      <xsd:enumeration value="trosOgLivssynssamfunnUtenforDenNorskeKirke" />
      <xsd:enumeration value="utlandet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:annotation>
      <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste
        personnummer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data
        elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Heltall">
    <xsd:annotation>
      <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="Navn">
    <xsd:annotation>
      <xsd:documentation>et ord som noen el. noe kalles ved, og som henfører det nevnte til en bestemt klasse el. art (eks plantenavn, stoffnavn) el.
        skiller ut et bestemt individ, eksemplar e l fra en større gruppe (eks personnavn, stedsnavn). (Bokmålsordboka)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NorskIdentifikator">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="person" type="Foedselsnummer" />
        <xsd:element name="organisasjon" type="Organisasjonsnummer" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO
        8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstIPersonnavn">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÄČÇÐĐÉÈÊÍÎÏÑŊÓÒÔÖÙÜŠŦŽáàäçčðđéèêíîïñŋóòôöšŧùüž. \*\-'`´‘’‛′‵]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:annotation>
      <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="9" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
