docs/nytt-fodselsnummer-fra-2032/kontrakter/RekvisisjonAvDNummer_5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by ﻿Skatteetaten (Skatteetaten) -->
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v5" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v5" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="DigitalSignatur.xsd"/>
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2018-02-27T08:06:42.343+0100" name="generertDato"/>
      <xsd:attribute fixed="5.0" name="versjon"/>
      <xsd:attribute fixed="" name="beskrivelse"/>
      <xsd:attribute fixed="RekvisisjonAvDNummer 5.x" name="modellnavn"/>
      <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v5" name="navnerom"/>
      <xsd:attribute fixed="false" name="begrepsreferanse"/>
      <xsd:attribute fixed="true" name="dokumentasjon"/>
      <xsd:attribute fixed="false" name="nillable"/>
      <xsd:attribute fixed="false" name="modellelement"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="rekvisisjonAvDNummer" type="RekvisisjonAvDNummer"/>
  <xsd:complexType name="RekvisisjonAvDNummer">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending"/>
      <xsd:element name="forespoersel" type="ForespoerselOmRekvisisjonAvDNummer"/>
      <xsd:element ref="ds:Signature" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisterkandidat">
    <xsd:sequence>
      <xsd:element name="navn" type="Personnavn"/>
      <xsd:element name="foedselsdatoErKjent" type="Boolsk"/>
      <xsd:element name="foedselsdato" type="Dato"/>
      <xsd:element name="foedeland" type="LandkodeIsoAlfa3" minOccurs="0"/>
      <xsd:element name="kjoenn" type="Kjoenn"/>
      <xsd:element name="oppholdsadresse" type="OffisiellOppholdsAdresse" minOccurs="0"/>
      <xsd:element name="postadresse" type="Kontaktadresse" minOccurs="0"/>
      <xsd:element name="postadresseIUtlandet" type="KontaktadresseIUtlandet" minOccurs="0"/>
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" maxOccurs="unbounded"/>
      <xsd:element name="harUkjentOppholdsadresse" type="Boolsk"/>
      <xsd:element name="skalFaaUtskrift" type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmRekvisisjonAvDNummer">
    <xsd:sequence>
      <xsd:element name="kandidat" type="Folkeregisterkandidat"/>
      <xsd:element name="kilde" type="KildeForRekvisisjonAvDNummer"/>
      <xsd:element name="rekvireringsdato" type="Dato"/>
      <xsd:element name="identifikasjon" type="Identifikasjon" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0"/>
      <xsd:element name="avsendersSaksbehandler" type="Tekst" nillable="true"/>
      <xsd:element name="identitetskontrollKreves" type="Boolsk"/>
      <xsd:element name="papirrekvisisjon" type="Papirrekvisisjon" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjon">
    <xsd:sequence>
      <xsd:element name="identifikasjonsdokumentMangler" type="Boolsk" minOccurs="0"/>
      <xsd:element name="personidentifikasjon" type="Personidentifikasjon" minOccurs="0"/>
      <xsd:element name="dokumentgrunnlag" type="Identifikasjonsdokument" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokument">
    <xsd:sequence>
      <xsd:element name="identifikasjonsdokumentnummer" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype"/>
      <xsd:element name="utstedernavn" type="NavnMedInnhold" minOccurs="0"/>
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3"/>
      <xsd:element name="gyldigFra" type="Dato" minOccurs="0"/>
      <xsd:element name="gyldigTil" type="Dato" minOccurs="0"/>
      <xsd:element name="dokumentkopi" type="Identifikasjonsdokumentkopi" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokumentkopi">
    <xsd:sequence>
      <xsd:element name="rettkjentKopiBekreftetAv" type="Identifikator" minOccurs="0"/>
      <xsd:element name="bekreftersLand" type="LandkodeIsoAlfa3" minOccurs="0"/>
      <xsd:element name="multipartnavn" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst"/>
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett"/>
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktadresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="postboksadresse" type="Postboksadresse"/>
        <xsd:element name="vegadresse" type="VegadresseForPost"/>
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="KontaktadresseIUtlandet">
    <xsd:sequence>
      <xsd:element name="postadresse" type="InternasjonalAdresse" minOccurs="0"/>
      <xsd:element name="erKlientadresse" type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OffisiellOppholdsAdresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="vegadresse" type="Vegadresse"/>
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk"/>
      <xsd:element name="oppholdsadressedato" type="Dato"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Papirrekvisisjon">
    <xsd:sequence>
      <xsd:element name="multipartnavn" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personidentifikasjon">
    <xsd:sequence>
      <xsd:element name="identifikasjonsnummer" type="Tekst"/>
      <xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype"/>
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VegadresseForPost">
    <xsd:annotation>
      <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressekode" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternasjonalAdresse">
    <xsd:annotation>
      <xsd:documentation>adresse til postmottaker i utlandet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>navn på gate

            Merknad til definisjon: Dette er en oversettelse fra streetname og kan ha nummer og bokstav</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bygning" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>navn og/eller nummer på bygning
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="etasjenummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>identifikator for etasje</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="boenhet" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nummer på en del av et hus eller annen inndeling</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postboks" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postkode" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="byEllerStedsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>navn på by</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="distriktsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>navn på et distrikt</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="administrativEnhet" type="TekstMedInnhold" minOccurs="0" maxOccurs="6">
        <xsd:annotation>
          <xsd:documentation>navn på regional inndeling av land med særlig allmenninteresse</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="landkode" type="LandkodeIsoAlfa3">
        <xsd:annotation>
          <xsd:documentation>geografisk koding av stater, deres oversjøiske områder samt for underinndeling av land</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>navn på person</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fornavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>fornavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mellomnavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>mellomnavn på person


          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="etternavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>etternavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="KildeForRekvisisjonAvDNummer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsdirektoratet"/>
      <xsd:enumeration value="nav"/>
      <xsd:enumeration value="skatteetaten"/>
      <xsd:enumeration value="skatteetatenPaaSvalbard"/>
      <xsd:enumeration value="bankOgFinansinstitusjon"/>
      <xsd:enumeration value="helfo"/>
      <xsd:enumeration value="broennoeysundregistrene"/>
      <xsd:enumeration value="statensKartverk"/>
      <xsd:enumeration value="verdipapirsentralen"/>
      <xsd:enumeration value="utenriksdepartementet"/>
      <xsd:enumeration value="diverse"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne"/>
      <xsd:enumeration value="mann"/>
      <xsd:enumeration value="ukjent"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:annotation>
      <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3"/>
      <xsd:pattern value="([A-Z]){3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsdokumenttype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pass"/>
      <xsd:enumeration value="servicepass"/>
      <xsd:enumeration value="tjenestepass"/>
      <xsd:enumeration value="spesialpass"/>
      <xsd:enumeration value="diplomatpass"/>
      <xsd:enumeration value="utlendingspass"/>
      <xsd:enumeration value="noedpass"/>
      <xsd:enumeration value="passerbrev"/>
      <xsd:enumeration value="nasjonaltIdentitetskort"/>
      <xsd:enumeration value="reisebevisForFlyktninger"/>
      <xsd:enumeration value="schengenStandardisertOppholdskort"/>
      <xsd:enumeration value="foererkort"/>
      <xsd:enumeration value="foedselsmelding"/>
      <xsd:enumeration value="foedselsattest"/>
      <xsd:enumeration value="folkeregisterutskrift"/>
      <xsd:enumeration value="helsetrygdekort"/>
      <xsd:enumeration value="dnaRapport"/>
      <xsd:enumeration value="annet"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnMedInnhold">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst"/>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:complexType name="Postboksadresse">
    <xsd:annotation>
      <xsd:documentation>adresse for å nå noen eller noe levert til en postboks</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="postbokseier" type="NavnMedInnhold" minOccurs="0"/>
      <xsd:element name="postboks" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>nummer på en postboks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse">
    <xsd:annotation>
      <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressekode" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kommunenummer" type="Kommunenummer">
        <xsd:annotation>
          <xsd:documentation>nummer for kommune</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikasjonsnummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer"/>
      <xsd:enumeration value="taxIdentificationNumber"/>
      <xsd:enumeration value="socialSecurityNumber"/>
      <xsd:enumeration value="utenlandskIdentifikasjonsnummer"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstIAdresse">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸáàâãäçðéèêëíìîïñóòôõößþúùûüýÿ \-0-9_:'.,()/#&quot;&amp;]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstIPersonnavn">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸáàâãäçðéèêëíìîïñóòôõößþúùûüýÿ \-']+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Adressenummer">
    <xsd:annotation>
      <xsd:documentation> et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="husnummer" type="Husnummer">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Poststed">
    <xsd:annotation>
      <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="poststedsnavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>navn på et poststed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postnummer" type="Postnummer">
        <xsd:annotation>
          <xsd:documentation>nummer på et poststed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Adressebrukskategori">
    <xsd:annotation>
      <xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="offisiellForretning">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir hvor et foretak er offisielt registrert.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="offisiellPost">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir hvilken offisiell postadresse et foretak har registrert.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="virksomhet">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir hvilken adresse en virksomhet bedrives på.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="bosted">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir på hvilken adresse en eller flere personer bor.</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="post">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir hvilken adresse man kan sende post eller annen fysisk overlevert korrespondanse.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="leveranse">
        <xsd:annotation>
          <xsd:documentation>brukskategori av adresse som angir hvor en kan levere en fysiske leveranse.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ukjent">
        <xsd:annotation>
          <xsd:documentation>ukjent brukskategori for en adresse</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="4"/>
      <xsd:pattern value="([0-9]){4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husbokstav">
    <xsd:restriction base="Tekst">
      <xsd:length value="1"/>
      <xsd:pattern value="[A-Za-z]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer">
    <xsd:annotation>
      <xsd:documentation>nummer på et poststed</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="4"/>
      <xsd:pattern value="([0-9]){4}"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>