docs/driftsproblemer-pa-flere-av-skatteetatens-systemer-er-lost-08.11.2023/kontrakter/Foedselsmelding_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:foedselsmelding:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:foedselsmelding:v1" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2019-01-25T12:52:49.169+0100" name="generertDato" />
      <xsd:attribute fixed="1.0" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="Foedsel" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:foedselsmelding:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="false" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="foedselsmelding" type="Foedselsmelding" />
  <xsd:complexType name="Foedselsmelding">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending" />
      <xsd:element name="forespoersel" type="ForespoerselOmInnmeldingAvFoedsel" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Barn">
    <xsd:sequence>
      <xsd:element name="foedselsdato" type="Dato" />
      <xsd:element name="erLevendefoedt" type="Boolsk" />
      <xsd:element name="rekkefoelgenummerVedFlerfoedsel" type="Rekkefoelgenummer" minOccurs="0" />
      <xsd:element name="kjoenn" type="Kjoenn" />
      <xsd:element name="sykehusetsIdentifikasjonsnummer" type="SykehusetsIdentifikasjonsnummer" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Forelder">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" />
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="navn" type="Personnavn" />
          <xsd:element name="foedselsdato" type="Dato" />
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="statsborgerskapErUkjent" type="Boolsk" minOccurs="0" />
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="bostedsEllerOppholdsadresse" type="Vegadresse" minOccurs="0" />
      <xsd:element name="utenlandskAdresse" type="InternasjonalAdresse" minOccurs="0" />
      <xsd:element name="erMedmor" type="Boolsk" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmInnmeldingAvFoedsel">
    <xsd:sequence>
      <xsd:element name="foedsel" type="Foedsel" />
      <xsd:element name="registreringsdato" type="Dato" />
      <xsd:element name="innsender" type="Innsender" minOccurs="0" />
      <xsd:element name="mottak" type="Informasjonsmottak" minOccurs="0" />
      <xsd:element name="vedlegg" type="Vedlegg" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="saksbehandlersVurdering" type="SaksbehandlersVurdering" minOccurs="0" />
      <xsd:element name="erKorrigertForespoersel" type="Boolsk" />
      <xsd:element name="identifikatorForOpprinneligMelding" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foedested">
    <xsd:sequence>
      <xsd:element name="foedselsinstitusjonsnavn" type="Navn" />
      <xsd:element name="foedekommunenummer" type="Kommunenummer" />
      <xsd:element name="foedekommunenavn" type="Navn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FoedestedIUtlandet">
    <xsd:sequence>
      <xsd:element name="foedselsinstitusjonsnavnIUtlandet" type="Navn" minOccurs="0" />
      <xsd:element name="foedeland" type="LandkodeIsoAlfa3" />
      <xsd:element name="foedestedIUtlandet" type="Navn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foedsel">
    <xsd:sequence>
      <xsd:element name="foreldreBorSammen" type="Boolsk" />
      <xsd:element name="foreldreErGift" type="Boolsk" />
      <xsd:element name="antallBarnVedFlerfoedsel" type="Heltall" minOccurs="0" />
      <xsd:element name="barn" type="Barn" />
      <xsd:element name="mor" type="Forelder" />
      <xsd:element name="farEllerMedmor" type="Forelder" minOccurs="0" />
      <xsd:choice>
        <xsd:element name="foedested" type="Foedested"/>
        <xsd:element name="foedestedIUtlandet" type="FoedestedIUtlandet"/>
      </xsd:choice>
      <xsd:element name="jordmorEllerForloesendeLege" type="Person" minOccurs="0" />
      <xsd:element name="foedselsvitne" type="Person" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst" />
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternasjonalAdresse">
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="adressenavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="bygning" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="etasjenummer" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="boenhet" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="postboks" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="postkode" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="byEllerStedsnavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="distriktsnavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="region" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="landkode" type="LandkodeIsoAlfa3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element name="navn" type="Personnavn" />
      <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" minOccurs="0" />
      <xsd:element name="organisasjon" type="Organisasjonsnummer" minOccurs="0" />
      <xsd:element name="autentiseringsInformasjon" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse">
    <xsd:sequence>
      <xsd:element name="adressenErAvvikendeFraFolkeregisteret" type="Boolsk" />
      <xsd:element name="kommunenummer" type="Kommunenummer" minOccurs="0" />
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="adressenavn" type="TekstIAdresse" />
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0" />
      <xsd:element name="adressekode" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="poststed" type="Poststed" />
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0" />
      <xsd:element name="kommunenavn" type="TekstIAdresse" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Rekkefoelgenummer">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="2[1-2]|3[1-3]|4[1-4]|5[1-5]|6[1-6]|7[1-7]" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InnsendertypeForFoedselsmelding">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="helse" />
      <xsd:enumeration value="forelder" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KanalForFoedselsmelding">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="innloggetTjeneste" />
      <xsd:enumeration value="papirmelding" />
      <xsd:enumeration value="elektroniskMelding" />
      <xsd:enumeration value="manuellRegistrering" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Heltall">
    <xsd:restriction base="xsd:int" />
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element name="fornavn" type="TekstIPersonnavn" />
      <xsd:element name="mellomnavn" type="TekstIPersonnavn" minOccurs="0" />
      <xsd:element name="etternavn" type="TekstIPersonnavn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Innsender">
    <xsd:sequence>
      <xsd:element name="innsendertype" type="InnsendertypeForFoedselsmelding" />
      <xsd:element name="identitet" type="NorskIdentifikator" minOccurs="0" />
      <xsd:element name="navn" type="Navn" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Informasjonsmottak">
    <xsd:sequence>
      <xsd:element name="informasjonskanal" type="KanalForFoedselsmelding" />
      <xsd:element name="mottakstidspunktFraOpprinneligkanal" type="Dato" />
      <xsd:element name="puncher" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:sequence>
      <xsd:element name="dokumenttype" type="Tekst" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SaksbehandlersVurdering">
    <xsd:sequence>
      <xsd:element name="signaturMangler" type="Boolsk"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstIAdresse">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸČĐŊŠŦŽáàâãäçðéèêëíìîïñóòôõößþúùûüýÿčđŋšŧž 0-9_:'`´‘’‛′‵.,()-/#&quot;&amp;]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Adressenummer">
    <xsd:sequence>
      <xsd:element name="husnummer" type="Husnummer" />
      <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Poststed">
    <xsd:sequence>
      <xsd:element name="poststedsnavn" type="TekstIAdresse" />
      <xsd:element name="postnummer" type="Postnummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TekstIPersonnavn">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄČÇÐÉÈÊËÍÌÎÏÑŊÓÒÔÕÖŠŦÞÚÙÛÜÝŸŽáàâãäçčðđéèêëíìîïñŋóòôößþšŧúùûüýÿž *\-'`´‘’‛′‵]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NorskIdentifikator">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="person" type="Foedselsnummer" />
        <xsd:element name="organisasjon" type="Organisasjonsnummer" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Husnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="4" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husbokstav">
    <xsd:restriction base="Tekst">
      <xsd:length value="1" />
      <xsd:pattern value="[A-Za-zæøåÆØÅ]" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="9" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SykehusetsIdentifikasjonsnummer">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
