docs/driftsproblemer-pa-flere-av-skatteetatens-systemer-er-lost-08.11.2023/kontrakter/MeldingOmEndringAvPersonMedFoedselsnummer_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
  xmlns="folkeregisteret:melding:endringavfolkeregisterperson:endringavpersonmedfoedselsnummer:v1"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
  targetNamespace="folkeregisteret:melding:endringavfolkeregisterperson:endringavpersonmedfoedselsnummer:v1"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
>
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="../nyfolkeregisterperson/DigitalSignatur.xsd" />
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2019-12-19T14:13:23.709+0100" name="generertDato" />
      <xsd:attribute fixed="1.0" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="EndringAvPersonMedFoedselsnummer 1.0" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:melding:endringavfolkeregisterperson:endringavpersonmedfoedselsnummer:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="true" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="meldingOmEndringAvPersonMedFoedselsnummer" type="MeldingOmEndringAvPersonMedFoedselsnummer" />
  <xsd:complexType name="MeldingOmEndringAvPersonMedFoedselsnummer">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending" />
      <xsd:element name="forespoersel" type="ForespoerselOmEndringAvPersonMedFoedselsnummer" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Endringsperson">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="statsborgerskap" type="StatsborgerskapListe" />
        <xsd:element name="foedselsdato" type="Dato" />
        <xsd:element name="navn" type="Personnavn" />
        <xsd:element name="kjoenn" type="Kjoenn" />
        <xsd:element name="foedested" type="TekstMedInnhold" />
        <xsd:element name="foedeland" type="LandkodeIsoAlfa3" />
      </xsd:choice>
      <xsd:element name="foedselsnummer" type="Foedselsnummer" />
      <xsd:element name="dufNummer" type="Identifikator" minOccurs="0" />
      <xsd:element name="endringstype" type="Registerendring" />
      <xsd:element name="erVedtakOmIdentitetsendring" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmEndringAvPersonMedFoedselsnummer">
    <xsd:sequence>
      <xsd:element name="kilde" type="InnsendertypeForEndringAvPerson" />
      <xsd:element name="forespoerselsdato" type="Dato" />
      <xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0" />
      <xsd:element name="avsendersSaksbehandler" type="Tekst" />
      <xsd:element name="person" type="Endringsperson" />
      <xsd:element name="innsender" type="Innsender" minOccurs="0" />
      <xsd:element name="vedlegg" type="Vedlegg" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element ref="ds:Signature" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsender">
    <xsd:sequence>
      <xsd:element name="innsendertype" />
      <xsd:element name="navn" type="Navn" minOccurs="0" />
      <xsd:element name="identitet" type="NorskIdentifikator" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>Avsenders identifikator for meldingen som benyttes for referanse mot Folkeregisterets tilbakesendte meldingsidentifikator
            for samme melding (vårMeldingsidentifikator)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatsborgerskapListe">
    <xsd:sequence>
      <xsd:element name="statsborgerskap" type="Statsborgerskap" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:sequence>
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" />
      <xsd:element name="ervervsdato" type="Dato" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vedlegg">
    <xsd:sequence>
      <xsd:element name="dokumenttype" type="Tekst" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="InnsendertypeForEndringAvPerson">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndigheten" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data
        elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>navn på person</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fornavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>fornavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mellomnavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>mellomnavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="etternavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>etternavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Tekst">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:annotation>
      <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste
        personnummer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="Registerendring">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="endre" />
      <xsd:enumeration value="korrigere" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:annotation>
      <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Navn">
    <xsd:annotation>
      <xsd:documentation>et ord som noen el. noe kalles ved, og som henfører det nevnte til en bestemt klasse el. art (eks plantenavn, stoffnavn) el.
        skiller ut et bestemt individ, eksemplar e l fra en større gruppe (eks personnavn, stedsnavn). (Bokmålsordboka)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="NorskIdentifikator">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="person" type="Foedselsnummer" />
        <xsd:element name="organisasjon" type="Organisasjonsnummer" />
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO
        8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="TekstIPersonnavn">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄČÇÐĐÉÈÊËÍÌÎÏÑŊÓÒÔÕÖÞÚÙÛÜÝŸŠŦŽáàâãäçčðđéèêëíìîïñŋóòôõößþšŧúùûüýÿž \*\-'`´‘’‛′‵]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Organisasjonsnummer">
    <xsd:annotation>
      <xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="9" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
