docs/driftsvarsel-oppgradering-av-databaser-11.06.2023/kontrakter/RekvisisjonAvDNummer_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 rel. 2 (x64) (http://www.altova.com) by Skatteetaten (Skatteetaten) -->
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v1"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
        <xsd:documentation>
            <xsd:attribute fixed="2016-06-28T15:30:39.353+0200" name="generertDato"/>
            <xsd:attribute fixed="1.0" name="versjon"/>
            <xsd:attribute fixed="" name="beskrivelse"/>
            <xsd:attribute fixed="RekvisisjonAvDNummer" name="modellnavn"/>
            <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer" name="navnerom"/>
            <xsd:attribute fixed="false" name="begrepsreferanse"/>
            <xsd:attribute fixed="true" name="dokumentasjon"/>
            <xsd:attribute fixed="false" name="nillable"/>
            <xsd:attribute fixed="false" name="modellelement"/>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:element name="RekvisisjonAvDNummer" type="RekvisisjonAvDNummer"/>
    <xsd:complexType name="RekvisisjonAvDNummer">
        <xsd:sequence>
            <xsd:element name="innsending" type="Innsending"/>
            <xsd:element name="forespoersel" type="ForespoerselOmRekvisisjonAvDNummer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ForespoerselOmRekvisisjonAvDNummer">
        <xsd:sequence>
            <xsd:element name="kandidat" type="Folkeregisterkandidat"/>
            <xsd:element name="kilde" type="KildeForRekvisisjonAvDNummer"/>
            <xsd:element name="rekvireringsdato" type="Dato"/>
            <xsd:element name="identifikasjon" type="Personidentifikasjon" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0"/>
            <xsd:element name="avsendersSaksbehandler" type="Tekst" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Innsending">
        <xsd:sequence>
            <xsd:element name="avsendersMeldingsidentifikator" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Avsenders identifikator for meldingen som benyttes for referanse mot Folkeregisterets tilbakesendte meldingsidentifikator for samme melding (vårMeldingsidentifikator)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett"/>
            <xsd:element name="kildesystem" type="Tekst" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Folkeregisterkandidat">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="bostedsadresse" type="OffisiellBostedsAdresse" minOccurs="0"/>
                <xsd:element name="oppholdsadresse" type="OffisiellOppholdsAdresse" minOccurs="0"/>
            </xsd:choice>
            <xsd:element name="navn" type="Personnavn"/>
            <xsd:element name="foedselsdatoErKjent" type="Boolsk"/>
            <xsd:element name="foedselsdato" type="Dato"/>
            <xsd:element name="foedested" type="LandkodeISOAlpha3" minOccurs="0"/>
            <xsd:element name="sivilstand" type="Sivilstand"/>
            <xsd:element name="kjoenn" type="Kjoenn"/>
            <xsd:element name="statsborgerskapErUkjent" type="Boolsk"/>
            <xsd:element name="statsborgerskap" type="LandkodeISOAlpha3" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="erUtenFastBosted" type="Boolsk" />
            <xsd:element name="harUkjentAdresse" type="Boolsk" />
            <xsd:element name="postadresse" type="Postadresse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="KildeForRekvisisjonAvDNummer">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="politietsUtlendingsenhet"/>
            <xsd:enumeration value="udi"/>
            <xsd:enumeration value="politiet"/>
            <xsd:enumeration value="nav"/>
            <xsd:enumeration value="utenrikstjenesten"/>
            <xsd:enumeration value="skatteetaten"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Dato">
        <xsd:annotation>
            <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
                Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:complexType name="Personidentifikasjon">
        <xsd:sequence>
            <xsd:element name="kilde" type="Tekst" minOccurs="0"/>
            <xsd:element name="identifikasjonsnummer" type="Tekst"/>
            <xsd:element name="identifikasjonsnummertype" type="Identifikatortype"/>
            <xsd:element name="utstedermyndighet" type="Tekst" minOccurs="0"/>
            <xsd:element name="dokumentgrunnlag" type="Identifikasjonsdokument" minOccurs="0"/>
            <xsd:element name="utstedertype" type="Tekst" minOccurs="0"/>
            <xsd:element name="utstederland" type="LandkodeISOAlpha3"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Tekst">
        <xsd:annotation>
            <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4000"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="DatoKlokkeslett">
        <xsd:annotation>
            <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:complexType name="OffisiellBostedsAdresse">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="vegadresse" type="Vegadresse"/>
                <xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
            </xsd:choice>
            <xsd:element name="adressegradering" type="Adressegradering"/>
            <xsd:element name="adressetype" type="Adressetype"/>
            <xsd:element name="flyttedato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="OffisiellOppholdsAdresse">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="vegadresse" type="Vegadresse"/>
                <xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
            </xsd:choice>
            <xsd:element name="adressegradering" type="Adressegradering"/>
            <xsd:element name="adressetype" type="Adressetype"/>
            <xsd:element name="oppholdsadressedato" type="Dato"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Personnavn">
        <xsd:annotation>
            <xsd:documentation>navn på person</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="fornavn" type="Navn">
                <xsd:annotation>
                    <xsd:documentation>fornavn på person</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="mellomnavn" type="Navn" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>mellomnavn på person


                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="etternavn" type="Navn">
                <xsd:annotation>
                    <xsd:documentation>etternavn på person</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Boolsk">
        <xsd:annotation>
            <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:boolean"/>
    </xsd:simpleType>
    <xsd:simpleType name="LandkodeISOAlpha3">
        <xsd:annotation>
            <xsd:documentation>koder for land etter ISO 3166-1 Alpha-3</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:length value="3"/>
            <xsd:pattern value="([A-Z]){3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Sivilstand">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="uoppgitt"/>
            <xsd:enumeration value="ugift"/>
            <xsd:enumeration value="gift"/>
            <xsd:enumeration value="enke"/>
            <xsd:enumeration value="enkemann"/>
            <xsd:enumeration value="skilt"/>
            <xsd:enumeration value="separert"/>
            <xsd:enumeration value="registrertPartner"/>
            <xsd:enumeration value="separertPartner"/>
            <xsd:enumeration value="skiltPartner"/>
            <xsd:enumeration value="gjenlevendePartner"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Kjoenn">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="kvinne"/>
            <xsd:enumeration value="mann"/>
            <xsd:enumeration value="ukjentEllerUspesifisert"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Postadresse">
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="vegadresse" type="Vegadresse"/>
                <xsd:element name="postboksadresse" type="Postboksadresse"/>
                <xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
                <xsd:element name="utenlandskPostadresse" type="InternasjonalAdresse"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikatortype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="dufNummer"/>
            <xsd:enumeration value="taxIdentificationNumber"/>
            <xsd:enumeration value="utenlandskNasjonalIdentifikatornummer"/>
            <xsd:enumeration value="nordiskPersonidentifikasjonsnummer"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Identifikasjonsdokument">
        <xsd:sequence>
            <xsd:element name="identifikasjonsdokumentnummer" type="Tekst"/>
            <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype"/>
            <xsd:element name="utstedermyndighet" type="Tekst" minOccurs="0"/>
            <xsd:element name="utstedertype" type="Tekst" minOccurs="0"/>
            <xsd:element name="utstederland" type="LandkodeISOAlpha3"/>
            <xsd:element name="gyldigFra" type="Dato"/>
            <xsd:element name="gyldigTil" type="Dato" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Vegadresse">
        <xsd:annotation>
            <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>addresse som er indirekte</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressenavn" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressenummer" type="Adressenummer">
                <xsd:annotation>
                    <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="poststed" type="Poststed">
                <xsd:annotation>
                    <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gatenummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="kommunenummer" type="Kommunenummer" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nummer for kommune</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Matrikkeladresse">
        <xsd:annotation>
            <xsd:documentation>adresse i form av et gårds- og bruksnummer og et eventuelt festenummer, eventuelt også et undernummer</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="matrikkeladressenavn" type="Tekst" minOccurs="0"/>
            </xsd:choice>
            <xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="matrikkelnummer" type="Matrikkelnummer">
                <xsd:annotation>
                    <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="undernummer" type="Heltall" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>brukes ved matrikkeladresser når en grunneiendom må tilknyttes flere ulike adresser</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Adressegradering">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ugradert"/>
            <xsd:enumeration value="fortrolig"/>
            <xsd:enumeration value="strengtFortrolig"/>
            <xsd:enumeration value="underlagtTaushetsplikt"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Adressetype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="normalAdresse"/>
            <xsd:enumeration value="militaerAdresse"/>
            <xsd:enumeration value="utenriksadresse"/>
            <xsd:enumeration value="adressePaaSvalbard"/>
            <xsd:enumeration value="klientadresse"/>
            <xsd:enumeration value="pendleradresse"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Navn">
        <xsd:annotation>
            <xsd:documentation>et ord som noen el. noe kalles ved, og som henfører det nevnte til en bestemt klasse el. art (eks plantenavn, stoffnavn) el. skiller ut et bestemt individ, eksemplar e l fra en større gruppe (eks personnavn, stedsnavn). (Bokmålsordboka) </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="200"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Postboksadresse">
        <xsd:annotation>
            <xsd:documentation>adresse for å nå noen eller noe levert til en postboks</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="postboksnummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nummer på en postboks</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="poststed" type="Poststed" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>geografisk inndeling av postmottakere
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InternasjonalAdresse">
        <xsd:annotation>
            <xsd:documentation>adresse til postmottaker i utlandet</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>addresse som er indirekte</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressenavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>navn på gate

                        Merknad til definisjon: Dette er en oversettelse fra streetname og kan ha nummer og bokstav</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressenummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bygning" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>navn og/eller nummer på bygning
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="etasjenummer" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>identifikator for etasje</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="boenhet" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nummer på en del av et hus eller annen inndeling</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postboks" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postkode" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="byEllerStedsnavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>navn på by</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="distriktsnavn" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>navn på et distrikt</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="administrativEnhet" type="Tekst" minOccurs="0" maxOccurs="6">
                <xsd:annotation>
                    <xsd:documentation>navn på regional inndeling av land med særlig allmenninteresse</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="landkode" type="Landkode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>geografisk koding av stater, deres oversjøiske områder samt for underinndeling av land</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Identifikasjonsdokumenttype">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="utenlandskPass"/>
            <xsd:enumeration value="foererkort"/>
            <xsd:enumeration value="utenlandsktNasjonaltIdentitetskort"/>
            <xsd:enumeration value="nordiskPersonidentifikasjon"/>
            <xsd:enumeration value="foedselsmelding"/>
            <xsd:enumeration value="tiltroddTredjepart"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Adressenummer">
        <xsd:annotation>
            <xsd:documentation> et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="husnummer" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="husbokstav" type="Tekst" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Poststed">
        <xsd:annotation>
            <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="poststedsnavn" type="Tekst">
                <xsd:annotation>
                    <xsd:documentation>navn på et poststed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="postnummer" type="Postnummer">
                <xsd:annotation>
                    <xsd:documentation>nummer på et poststed</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Kommunenummer">
        <xsd:annotation>
            <xsd:documentation>nummer på en kommune</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:length value="4"/>
            <xsd:pattern value="([0-9]){4}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Matrikkelnummer">
        <xsd:annotation>
            <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="kommunenummer" type="Kommunenummer">
                <xsd:annotation>
                    <xsd:documentation>nummer for kommune</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="gaardsnummer" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>nummer for gård</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="bruksnummer" type="Heltall">
                <xsd:annotation>
                    <xsd:documentation>fortløpende nummerering innenfor gårdsnummeret</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="festenummer" type="Heltall" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>tas i bruk når et bruksnummer skal deles opp i flere grunneiendommer</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="seksjonsnummer" type="Heltall" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>nummer på en seksjon</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="Heltall">
        <xsd:annotation>
            <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:long"/>
    </xsd:simpleType>
    <xsd:simpleType name="Adressebrukskategori">
        <xsd:annotation>
            <xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="offisiellForretning">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir hvor et foretak er offisielt registrert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="offisiellPost">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir hvilken offisiell postadresse et foretak har registrert.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="virksomhet">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir hvilken adresse en virksomhet bedrives på.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="bosted">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir på hvilken adresse en eller flere personer bor.</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="post">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir hvilken adresse man kan sende post eller annen fysisk overlevert korrespondanse.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="leveranse">
                <xsd:annotation>
                    <xsd:documentation>brukskategori av adresse som angir hvor en kan levere en fysiske leveranse.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="ukjent">
                <xsd:annotation>
                    <xsd:documentation>ukjent brukskategori for en adresse</xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Landkode">
        <xsd:annotation>
            <xsd:documentation>koder for land etter ISO 3166-1 Alpha-2 </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:length value="2"/>
            <xsd:pattern value="([A-Z]){2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="Postnummer">
        <xsd:annotation>
            <xsd:documentation>nummer på et poststed</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="Tekst">
            <xsd:length value="4"/>
            <xsd:pattern value="([0-9]){4}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
