docs/driftsstatus-og-nyheter/kontrakter/Persondokument_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:tilgjengeliggjoering:person:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="folkeregisteret:tilgjengeliggjoering:person:v1">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2017-10-26T12:00:00.554+0200" name="generertDato" />
      <xsd:attribute fixed="0.1" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="Persondokument med historikk" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:tilgjengeliggjøring:person:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="false" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="folkeregisterperson" type="Folkeregisterperson" />
  <xsd:complexType name="Folkeregisterperson">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="falskIdentitet" type="FalskIdentitet" />
      <xsd:element maxOccurs="unbounded" name="identifikasjonsnummer" type="Folkeregisteridentifikator" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="identitetsgrunnlag" type="Identitetsgrunnlag" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="legitimasjonsdokument" type="Identifikasjonsdokument" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="status" type="Folkeregisterpersonstatus" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utlendingsmyndighetenesIdentifikasjonsnummer" type="Personidentifikasjon" />
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="utenlandskPersonidentifikasjon" type="Personidentifikasjon" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FalskIdentitet">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="rettIdentitetVedOpplysninger" type="IdentifiserendeInformasjon" />
            <xsd:element name="rettIdentitetErUkjent" type="Boolsk" />
            <xsd:element name="RettIdentitetVedIdentifikasjonsnummer" type="Foedselsnummer" />
          </xsd:choice>
          <xsd:element name="erFalsk" type="Boolsk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisteridentifikator">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="status" type="Identifikatorstatuskode" />
          <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" />
          <xsd:element name="identifikatortype" type="Folkeregisteridentifikatortype" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisterpersonstatus">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="status" type="Personstatus" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Fremtidsfullmakt" />
  <xsd:complexType name="Identifikasjonsdokument">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element name="identifikasjonsdokumentnummer" type="Tekst" />
          <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype" />
          <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
          <xsd:element minOccurs="0" name="utstedernavn" type="Tekst" />
          <xsd:element minOccurs="0" name="gyldigFra" type="Dato" />
          <xsd:element minOccurs="0" name="gyldigTil" type="Dato" />
          <xsd:element minOccurs="0" name="dokumentkontroll" type="TekniskDokumentkontroll" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Identitetsgrunnlag">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="identitetsgrunnlagstatus" type="Identitetsgrunnlagsstatus" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Personidentifikasjon">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element name="identifikasjonsnummer" type="Tekst" />
          <xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype" />
          <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PersonnavnIFolkeregisteret">
    <xsd:sequence>
      <xsd:element name="fornavn" type="Navn" />
      <xsd:element minOccurs="0" name="mellomnavn" type="Navn" />
      <xsd:element name="etternavn" type="Navn" />
      <xsd:element minOccurs="0" name="forkortetNavn" type="Navn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personrelasjon">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="relatertPersonsRolle" type="VergeOgRepresentantrelasjonrelasjontype" />
          <xsd:element name="relatertPerson" type="Foedselsnummer" />
          <xsd:element minOccurs="0" name="minRolleForPerson" type="VergeOgRepresentantrelasjonrelasjontype" />
          <xsd:element minOccurs="0" name="tidsrom" type="Periode" />
          <xsd:element minOccurs="0" name="vergemaal" type="VergeOgRepresentant" />
          <xsd:element minOccurs="0" name="fremtidsfullmakt" type="Fremtidsfullmakt" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Registermetadata">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ajourholdstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="erGjeldende" type="Boolsk" />
      <xsd:element minOccurs="0" name="kilde" type="Tekst" />
      <xsd:element minOccurs="0" name="aarsak" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistermetadataMedGyldighet">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="gyldighetstidspunkt" type="DatoKlokkeslett" />
          <xsd:element minOccurs="0" name="opphoerstidspunkt" type="DatoKlokkeslett" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VergeOgRepresentant" />
  <xsd:complexType name="TekniskDokumentkontroll">
    <xsd:sequence>
      <xsd:element name="dokumentkontrollstatus" type="Dokumentkontrollstatustype" />
      <xsd:element minOccurs="0" name="dokumentkontrolltidspunkt" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IdentifiserendeInformasjon">
    <xsd:sequence>
      <xsd:element name="personnavn" type="Personnavn" />
      <xsd:element minOccurs="0" name="foedselsdato" type="Dato" />
      <xsd:element maxOccurs="unbounded" name="statsborgerskap" type="LandkodeIsoAlfa3" />
      <xsd:element name="kjoenn" type="Kjoenntype" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="[0-9]+" />
      <xsd:length value="11" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikatorstatuskode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="iBruk" />
      <xsd:enumeration value="opphoert" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Folkeregisteridentifikatortype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="foedselsnummer" />
      <xsd:enumeration value="dNummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Personstatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bosatt" />
      <xsd:enumeration value="utflyttet" />
      <xsd:enumeration value="forsvunnet" />
      <xsd:enumeration value="doed" />
      <xsd:enumeration value="opphoert" />
      <xsd:enumeration value="foedselsregistrert" />
      <xsd:enumeration value="midlertidig" />
      <xsd:enumeration value="inaktiv" />
      <xsd:enumeration value="ikkeBosatt" />
      <xsd:enumeration value="ikkeTildeltFoedselsEllerDNummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsdokumenttype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pass" />
      <xsd:enumeration value="servicepass" />
      <xsd:enumeration value="tjenestepass" />
      <xsd:enumeration value="spesialpass" />
      <xsd:enumeration value="diplomatpass" />
      <xsd:enumeration value="utlendingspass" />
      <xsd:enumeration value="noedpass " />
      <xsd:enumeration value="passerbrev" />
      <xsd:enumeration value="nasjonaltIdentitetskort" />
      <xsd:enumeration value="reisebevisForFlyktninger" />
      <xsd:enumeration value="schengenStandardisertOppholdskort" />
      <xsd:enumeration value="foererkort" />
      <xsd:enumeration value="foedselsmelding" />
      <xsd:enumeration value="foedselsattest" />
      <xsd:enumeration value="folkeregisterutskrift" />
      <xsd:enumeration value="helsetrygdekort" />
      <xsd:enumeration value="dnaRapport" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="([A-Z]){3}" />
      <xsd:length value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Identitetsgrunnlagsstatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ingenStatus" />
      <xsd:enumeration value="ikkeKontrollert" />
      <xsd:enumeration value="kontrollert" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsnummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="taxIdentificationNumber" />
      <xsd:enumeration value="socialSecurityNumber" />
      <xsd:enumeration value="utenlandskIdentifikasjonsnummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VergeOgRepresentantrelasjonrelasjontype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="verge" />
      <xsd:enumeration value="representantForMindreaarigAsylsoeker" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Periode">
    <xsd:sequence>
      <xsd:element name="start" type="DatoKlokkeslett" />
      <xsd:element minOccurs="0" name="slutt" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="Dokumentkontrollstatustype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kontrollertIdentifikasjonsdokument" />
      <xsd:enumeration value="ikkeKontrollertIdentifikasjonsdokument" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element name="fornavn" type="Navn" />
      <xsd:element minOccurs="0" name="mellomnavn" type="Navn" />
      <xsd:element name="etternavn" type="Navn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Kjoenntype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
