docs/kontrakter/Hendelsedokument_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by ﻿Skatteetaten (Skatteetaten) -->
<xsd:schema xmlns="folkeregisteret:tilgjengeliggjoering:hendelse:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:tilgjengeliggjoering:hendelse:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2017-11-13T15:10:07.104+0100" name="generertDato" />
      <xsd:attribute fixed="0.1" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="Offentlig hendelsesliste" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:tilgjengeliggjoering:hendelse:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="false" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="dokumentForHendelse" type="DokumentForHendelse" />
  <xsd:complexType name="DokumentForHendelse">
    <xsd:sequence>
      <xsd:element name="dokumentidentifikator" type="Identifikator" />
      <xsd:element name="skjemaversjon" type="Tekst" />
      <xsd:element name="hendelse" type="Hendelse" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Hendelse">
    <xsd:sequence>
      <xsd:element name="folkeregisteridentifikator" type="Foedselsnummer" />
      <xsd:element name="hendelsestype" type="Hendelsestype" />
      <xsd:element name="ajourholdstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="egenskapshendelse" type="Registerdata" maxOccurs="unbounded" />
      <xsd:element name="hendelsesaarsakIDsf" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Registerdata">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="falskIdentitet" type="FalskIdentitet" />
        <xsd:element name="identifikasjonsnummer" type="Folkeregisteridentifikator" />
        <xsd:element name="identitetsgrunnlag" type="Identitetsgrunnlag" />
        <xsd:element name="legitimasjonsdokument" type="Identifikasjonsdokument" />
        <xsd:element name="utlendingsmyndighetenesIdentifikasjonsnummer" type="Personidentifikasjon" />
        <xsd:element name="utenlandskPersonidentifikasjon" type="Personidentifikasjon" />
      </xsd:choice>
      <xsd:element name="entitet" type="Entitetsnavn" />
      <xsd:element name="entitetsendring" type="Entitetsendring" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Entitetsendring">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="registrereNy" />
      <xsd:enumeration value="korrigere" />
      <xsd:enumeration value="annullere" />
      <xsd:enumeration value="korrigereHistorisk" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Hendelsestype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="endringIFalskIdentitet" />
      <xsd:enumeration value="endringIUtenlandskPersonidentifikasjon" />
      <xsd:enumeration value="endringIUtlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="endringILegitimasjonsdokument" />
      <xsd:enumeration value="endringIIdentitetsgrunnlag" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:simpleType name="PositivtStortHeltall">
    <xsd:restriction base="xsd:unsignedLong" />
  </xsd:simpleType>
  <xsd:simpleType name="Rettighetspakke">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="offentligMedHjemmelIEgenLov" />
      <xsd:enumeration value="offentlig" />
      <xsd:enumeration value="finansinstitusjon" />
      <xsd:enumeration value="presse" />
      <xsd:enumeration value="privat" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FalskIdentitet">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:choice>
            <xsd:element name="rettIdentitetVedOpplysninger" type="IdentifiserendeInformasjon" />
            <xsd:element name="rettIdentitetErUkjent" type="Boolsk" />
            <xsd:element name="rettIdentitetVedIdentifikasjonsnummer" type="Foedselsnummer" />
          </xsd:choice>
          <xsd:element name="erFalsk" type="Boolsk" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisteridentifikator">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="status" type="Identifikatorstatuskode" />
          <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" />
          <xsd:element name="identifikatortype" type="Folkeregisteridentifikatortype" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokument">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element name="identifikasjonsdokumentnummer" type="Tekst" />
          <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype" />
          <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
          <xsd:element name="utstedernavn" type="Tekst" minOccurs="0" />
          <xsd:element name="gyldigFra" type="Dato" minOccurs="0" />
          <xsd:element name="gyldigTil" type="Dato" minOccurs="0" />
          <xsd:element name="dokumentkontroll" type="TekniskDokumentkontroll" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TekniskDokumentkontroll">
    <xsd:sequence>
      <xsd:element name="dokumentkontrollstatus" type="Dokumentkontrollstatustype" />
      <xsd:element minOccurs="0" name="dokumentkontrolltidspunkt" type="DatoKlokkeslett" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dokumentkontrollstatustype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kontrollertIdentifikasjonsdokument" />
      <xsd:enumeration value="ikkeKontrollertIdentifikasjonsdokument" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Identitetsgrunnlag">
    <xsd:complexContent>
      <xsd:extension base="RegistermetadataMedGyldighet">
        <xsd:sequence>
          <xsd:element name="legitimasjonskontroll" type="Identitetsgrunnlagstatus" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Personidentifikasjon">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element name="identifikasjonsnummer" type="Tekst" />
          <xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype" />
          <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Registermetadata">
    <xsd:sequence>
      <xsd:element name="ajourholdstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
      <xsd:element name="erGjeldende" type="Boolsk" />
      <xsd:element name="kilde" type="Tekst" minOccurs="0" />
      <xsd:element name="aarsak" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistermetadataMedGyldighet">
    <xsd:complexContent>
      <xsd:extension base="Registermetadata">
        <xsd:sequence>
          <xsd:element name="gyldighetstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
          <xsd:element name="opphoerstidspunkt" type="DatoKlokkeslett" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="Entitetsnavn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="falskIdentitet" />
      <xsd:enumeration value="identifikasjonsnummer" />
      <xsd:enumeration value="identitetsgrunnlag" />
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="utenlandskIdentifikasjonsdokument" />
      <xsd:enumeration value="utenlandskPersonidentifikasjon" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="IdentifiserendeInformasjon">
    <xsd:sequence>
      <xsd:element name="personnavn" type="Personnavn" />
      <xsd:element name="foedselsdato" type="Dato" minOccurs="0" />
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" maxOccurs="unbounded" />
      <xsd:element name="kjoenn" type="Kjoenn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Identifikatorstatuskode">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="iBruk" />
      <xsd:enumeration value="opphoert" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Folkeregisteridentifikatortype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="foedselsnummer" />
      <xsd:enumeration value="dNummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identitetsgrunnlagstatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ingenStatus" />
      <xsd:enumeration value="ikkeKontrollert" />
      <xsd:enumeration value="kontrollert" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsdokumenttype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pass" />
      <xsd:enumeration value="servicepass" />
      <xsd:enumeration value="tjenestepass" />
      <xsd:enumeration value="spesialpass" />
      <xsd:enumeration value="diplomatpass" />
      <xsd:enumeration value="utlendingspass" />
      <xsd:enumeration value="noedpass " />
      <xsd:enumeration value="passerbrev" />
      <xsd:enumeration value="nasjonaltIdentitetskort" />
      <xsd:enumeration value="reisebevisForFlyktninger" />
      <xsd:enumeration value="schengenStandardisertOppholdskort" />
      <xsd:enumeration value="foererkort" />
      <xsd:enumeration value="foedselsmelding" />
      <xsd:enumeration value="foedselsattest" />
      <xsd:enumeration value="folkeregisterutskrift" />
      <xsd:enumeration value="helsekort" />
      <xsd:enumeration value="arbeidsgiversBekreftelse" />
      <xsd:enumeration value="dnaRapport" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="Identifikasjonsnummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="taxIdentificationNumber" />
      <xsd:enumeration value="socialSecurityNumber" />
      <xsd:enumeration value="utenlandskIdentifikasjonsnummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element name="fornavn" type="Navn" />
      <xsd:element name="mellomnavn" type="Navn" minOccurs="0" />
      <xsd:element name="etternavn" type="Navn" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
