src/kontrakter/PersondokumentMedHistorikk_v1BETA1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:tilgjengeliggjoering:person:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:tilgjengeliggjoering:person:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<xsd:attribute fixed="2018-04-30T10:11:21.882+0200" name="generertDato"/>
			<xsd:attribute fixed="1.0" name="versjon"/>
			<xsd:attribute fixed="" name="beskrivelse"/>
			<xsd:attribute fixed="Persondokument med historikk versjon 1 Beta 1" name="modellnavn"/>
			<xsd:attribute fixed="folkeregisteret:tilgjengeliggjoering:person:v1" name="navnerom"/>
			<xsd:attribute fixed="false" name="begrepsreferanse"/>
			<xsd:attribute fixed="true" name="dokumentasjon"/>
			<xsd:attribute fixed="false" name="nillable"/>
			<xsd:attribute fixed="false" name="modellelement"/>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="folkeregisterperson" type="Folkeregisterperson"/>
	<xsd:complexType name="Folkeregisterperson">
		<xsd:sequence>
			<xsd:element name="falskIdentitet" type="FalskIdentitet" minOccurs="0"/>
			<xsd:element name="identifikasjonsnummer" type="Folkeregisteridentifikator" maxOccurs="unbounded"/>
			<xsd:element name="identitetsgrunnlag" type="Identitetsgrunnlag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="kontaktinformasjonForDoedsbo" type="KontaktinformasjonForDoedsbo" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="legitimasjonsdokument" type="Identifikasjonsdokument" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="status" type="Folkeregisterpersonstatus" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="utlendingsmyndighetenesIdentifikasjonsnummer" type="Personidentifikasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="utenlandskPersonidentifikasjon" type="Personidentifikasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="doedsfall" type="Doedsfall" minOccurs="0"/>
			<xsd:element name="sivilstand" type="Sivilstand" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="familierelasjon" type="Familierelasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="bostedsadresse" type="Bostedsadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="deltBosted" type="Bostedsadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="oppholdsadresse" type="Oppholdsadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="postadresse" type="Kontaktadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="postadresseIUtlandet" type="KontaktadresseIUtlandet" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="adressebeskyttelse" type="GraderingAvAdresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="preferertKontaktadresse" type="PreferertKontaktadresse" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="innflytting" type="InnflyttingTilNorge" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="utflytting" type="UtflyttingFraNorge" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="forholdTilSametingetsValgmanntalll" type="SametingetsValgmanntall" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="kjoenn" type="Personkjoenn" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="statsborgerskap" type="Statsborgerskap" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="foreldreansvar" type="Foreldreansvar" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="vergeOgRepresentant" type="VergeOgRepresentant" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fremtidsfullmakt" type="Fremtidsfullmakt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="foedsel" type="Foedsel" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="navn" type="Folkeregisterpersonnavn" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="foedselINorge" type="FoedselINorge" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Folkeregisterpersonnavn">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="fornavn" type="Navn">
						<xsd:annotation>
							<xsd:documentation>fornavn på person</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="mellomnavn" type="Navn" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>mellomnavn på person


</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="etternavn" type="Navn">
						<xsd:annotation>
							<xsd:documentation>etternavn på person</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="forkortetNavn" type="Navn" minOccurs="0"/>
					<xsd:element name="originaltNavn" type="Folkeregisterpersonnavn" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Foreldreansvar">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="ansvarlig" type="Foedselsnummer"/>
						<xsd:element name="ansvarligOrganisasjon" type="Organisasjonsnummer"/>
					</xsd:choice>
					<xsd:element name="ansvar" type="Foreldreansvarstype"/>
					<xsd:element name="ansvarssubjekt" type="Foedselsnummer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Fremtidsfullmakt">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="fullmektig" type="Foedselsnummer"/>
					<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Foedsel">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="foedselsdato" type="Dato" minOccurs="0"/>
					<xsd:element name="foedselsaar" type="Aarstall"/>
					<xsd:element name="foedested" type="Tekst" minOccurs="0"/>
					<xsd:element name="foedekommuneINorge" type="Kommunenummer" minOccurs="0"/>
					<xsd:element name="foedeland" type="LandkodeIsoAlfa3" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FoedselINorge">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="foedselsinstitusjonsnavn" type="Tekst" minOccurs="0"/>
					<xsd:element name="rekkefoelgenummer" type="Heltall" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InnflyttingTilNorge">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="fraflyttingsland" type="LandkodeIsoAlfa3" minOccurs="0"/>
					<xsd:element name="fraflyttingsstedIUtlandet" type="Tekst" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Personkjoenn">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="kjoenn" type="Kjoenn"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SametingetsValgmanntall">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="forhold" type="ForholdTilSametingetsValgmanntall"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Statsborgerskap">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3"/>
					<xsd:element name="ervervsdato" type="Dato" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UtflyttingFraNorge">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="tilflyttingsland" type="LandkodeIsoAlfa3" minOccurs="0"/>
					<xsd:element name="tilflyttingsstedIUtlandet" type="Tekst" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="VergeOgRepresentant">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="verge" type="Foedselsnummer"/>
					<xsd:element name="vergemaaltype" type="Vergemaaltype" minOccurs="0"/>
					<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
					<xsd:element name="omfang" type="Vergemaalsomfang"/>
					<xsd:element name="samtykke" type="Vergemaalsamtykke" minOccurs="0"/>
					<xsd:element name="spesifikasjonAvAnnetOmfang" type="Tekst" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TekniskDokumentkontroll">
		<xsd:sequence>
			<xsd:element name="dokumentkontrollstatus" type="Tekst"/>
			<xsd:element name="dokumentkontrolltidspunkt" type="DatoKlokkeslett" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ForholdTilSametingetsValgmanntall">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="innmeldt"/>
			<xsd:enumeration value="utmeldt"/>
			<xsd:enumeration value="aldriInnmeldt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Fremtidsfullmaktrelasjontype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="fullmektig"/>
			<xsd:enumeration value="fullmaktgiver"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Vergemaalsamtykke">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Vergemaalsomfang">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Vergemaaltype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VergeOgRepresentantrelasjontype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Registermetadata">
		<xsd:sequence>
			<xsd:element name="ajourholdstidspunkt" type="DatoKlokkeslett" minOccurs="0"/>
			<xsd:element name="erGjeldende" type="Boolsk" minOccurs="0"/>
			<xsd:element name="kilde" type="Tekst" minOccurs="0"/>
			<xsd:element name="aarsak" type="Tekst" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FalskIdentitet">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="rettIdentitetVedOpplysninger" type="IdentifiserendeInformasjon"/>
						<xsd:element name="rettIdentitetErUkjent" type="Boolsk"/>
						<xsd:element name="rettIdentitetVedIdentifikasjonsnummer" type="Foedselsnummer"/>
					</xsd:choice>
					<xsd:element name="erFalsk" type="Boolsk"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RegistermetadataMedGyldighet">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="gyldighetstidspunkt" type="DatoKlokkeslett" minOccurs="0"/>
					<xsd:element name="opphoerstidspunkt" type="DatoKlokkeslett" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Folkeregisteridentifikator">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="status" type="Identifikatorstatuskode"/>
					<xsd:element name="foedselsEllerDNummer" type="Foedselsnummer"/>
					<xsd:element name="identifikatortype" type="Folkeregisteridentifikatortype"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Identitetsgrunnlag">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="identitetsgrunnlagstatus" type="Identitetsgrunnlagstatus"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="KontaktinformasjonForDoedsbo">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="person" type="PersonSomKontakt"/>
						<xsd:element name="advokat" type="AdvokatSomKontakt"/>
						<xsd:element name="organisasjon" type="OrganisasjonSomKontakt"/>
					</xsd:choice>
					<xsd:element name="skifteform" type="Skifteform"/>
					<xsd:element name="attestutstedelsesdato" type="Dato"/>
					<xsd:element name="adresse" type="KontaktadresseForDoedsbo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Identifikasjonsdokument">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="identifikasjonsdokumentnummer" type="Tekst" minOccurs="0"/>
					<xsd:element name="identifikasjonsdokumenttype" type="Tekst"/>
					<xsd:element name="utstederland" type="LandkodeIsoAlfa3"/>
					<xsd:element name="utstedernavn" type="Tekst" minOccurs="0"/>
					<xsd:element name="gyldigFra" type="Dato" minOccurs="0"/>
					<xsd:element name="gyldigTil" type="Dato" minOccurs="0"/>
					<xsd:element name="dokumentkontroll" type="TekniskDokumentkontroll" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Folkeregisterpersonstatus">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="status" type="Personstatus"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Personidentifikasjon">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="identifikasjonsnummer" type="Tekst"/>
					<xsd:element name="identifikasjonsnummertype" type="Tekst"/>
					<xsd:element name="utstederland" type="LandkodeIsoAlfa3"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Doedsfall">
		<xsd:complexContent>
			<xsd:extension base="Registermetadata">
				<xsd:sequence>
					<xsd:element name="doedsdato" type="Dato" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Sivilstand">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="sivilstand" type="Sivilstandstype"/>
					<xsd:element name="sivilstandsdato" type="Dato" minOccurs="0"/>
					<xsd:element name="myndighet" type="Tekst" minOccurs="0"/>
					<xsd:element name="kommune" type="Kommunenummer" minOccurs="0"/>
					<xsd:element name="sted" type="Tekst" minOccurs="0"/>
					<xsd:element name="utland" type="LandkodeIsoAlfa3" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Familierelasjon">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="relatertPerson" type="Foedselsnummer"/>
						<xsd:element name="relatertPersonUtenFolkeregisteridentifikator" type="RelatertBiPerson"/>
					</xsd:choice>
					<xsd:element name="relatertPersonsRolle" type="Familierelasjontype"/>
					<xsd:element name="minRolleForPerson" type="Familierelasjontype" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Bostedsadresse">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="ukjentBosted" type="UkjentBosted"/>
						<xsd:element name="vegadresse" type="Vegadresse"/>
						<xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
					</xsd:choice>
					<xsd:element name="adressegradering" type="Adressegradering"/>
					<xsd:element name="flyttedato" type="Dato"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Oppholdsadresse">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="vegadresse" type="Vegadresse"/>
						<xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
						<xsd:element name="utenlandskAdresse" type="InternasjonalAdresse"/>
					</xsd:choice>
					<xsd:element name="adressegradering" type="Adressegradering"/>
					<xsd:element name="oppholdsadressedato" type="Dato"/>
					<xsd:element name="oppholdAnnetSted" type="OppholdAnnetSted" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Kontaktadresse">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:choice>
						<xsd:element name="postboksadresse" type="Postboksadresse"/>
						<xsd:element name="vegadresse" type="VegadresseForPost"/>
					</xsd:choice>
					<xsd:element name="adressegradering" type="Adressegradering"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="KontaktadresseIUtlandet">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="adressegradering" type="Adressegradering"/>
					<xsd:element name="utenlandskAdresse" type="InternasjonalAdresse"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GraderingAvAdresse">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="graderingsnivaa" type="Adressegradering"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PreferertKontaktadresse">
		<xsd:complexContent>
			<xsd:extension base="RegistermetadataMedGyldighet">
				<xsd:sequence>
					<xsd:element name="valg" type="Adressetype"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="Tekst">
		<xsd:annotation>
			<xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett 
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Navn">
		<xsd:annotation>
			<xsd:documentation>et ord som noen el. noe kalles ved, og som henfører det nevnte til en bestemt klasse el. art (eks plantenavn, stoffnavn) el. skiller ut et bestemt individ, eksemplar e l fra en større gruppe (eks personnavn, stedsnavn). (Bokmålsordboka) </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Foedselsnummer">
		<xsd:annotation>
			<xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="11"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Organisasjonsnummer">
		<xsd:annotation>
			<xsd:documentation>9 sifret nummer gitt de som er registrert i Enhetsregisteret. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="9"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Foreldreansvarstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="felles"/>
			<xsd:enumeration value="mor"/>
			<xsd:enumeration value="far"/>
			<xsd:enumeration value="medmor"/>
			<xsd:enumeration value="andre"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Periode">
		<xsd:annotation>
			<xsd:documentation>tiden mellom to tidspunkter

</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="start" type="DatoKlokkeslett">
				<xsd:annotation>
					<xsd:documentation>Første tidspunkt i perioden. Tidspunktet er med i perioden.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="slutt" type="DatoKlokkeslett" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sluttidspunktet for perioden. Er ikke med i selve perioden. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Dato">
		<xsd:annotation>
			<xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). 
Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Aarstall">
		<xsd:annotation>
			<xsd:documentation>årstall er et tall som angir årets nummer i tidsregningen i den gregorianske kalender</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="Kommunenummer">
		<xsd:annotation>
			<xsd:documentation>nummer for kommune</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="4"/>
			<xsd:pattern value="([0-9]){4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LandkodeIsoAlfa3">
		<xsd:restriction base="Tekst">
			<xsd:length value="3"/>
			<xsd:pattern value="([A-Z]){3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Heltall">
		<xsd:annotation>
			<xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="Kjoenn">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kvinne"/>
			<xsd:enumeration value="mann"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DatoKlokkeslett">
		<xsd:annotation>
			<xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolsk">
		<xsd:annotation>
			<xsd:documentation>angir verdien sann eller usann</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:complexType name="IdentifiserendeInformasjon">
		<xsd:sequence>
			<xsd:element name="personnavn" type="Personnavn"/>
			<xsd:element name="foedselsdato" type="Dato" minOccurs="0"/>
			<xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" maxOccurs="unbounded"/>
			<xsd:element name="kjoenn" type="Kjoenn" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Identifikatorstatuskode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="iBruk"/>
			<xsd:enumeration value="opphoert"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Folkeregisteridentifikatortype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="foedselsnummer"/>
			<xsd:enumeration value="dNummer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identitetsgrunnlagstatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ingenStatus"/>
			<xsd:enumeration value="ikkeKontrollert"/>
			<xsd:enumeration value="kontrollert"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PersonSomKontakt">
		<xsd:sequence>
			<xsd:choice>
				<xsd:sequence>
					<xsd:element name="foedselsdato" type="Dato"/>
					<xsd:element name="personnavn" type="Personnavn"/>
				</xsd:sequence>
				<xsd:sequence>
					<xsd:element name="foedselsEllerDNummer" type="Foedselsnummer"/>
				</xsd:sequence>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdvokatSomKontakt">
		<xsd:sequence>
			<xsd:element name="personnavn" type="Personnavn"/>
			<xsd:element name="organisasjonsnavn" type="Organisasjonsnavn" minOccurs="0"/>
			<xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrganisasjonSomKontakt">
		<xsd:sequence>
			<xsd:element name="organisasjonsnavn" type="Organisasjonsnavn"/>
			<xsd:element name="organisasjonsnummer" type="Organisasjonsnummer" minOccurs="0"/>
			<xsd:element name="kontaktpersonnavn" type="Personnavn" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Skifteform">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="offentlig"/>
			<xsd:enumeration value="annet"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="KontaktadresseForDoedsbo">
		<xsd:sequence>
			<xsd:element name="adresselinje" type="Tekst" maxOccurs="2"/>
			<xsd:element name="poststedsnavn" type="Tekst"/>
			<xsd:element name="postnummer" type="Tekst"/>
			<xsd:element name="landkode" type="LandkodeIsoAlfa3" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>geografisk koding av stater, deres oversjøiske områder samt for underinndeling av land</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Personstatus">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bosatt"/>
			<xsd:enumeration value="utflyttet"/>
			<xsd:enumeration value="forsvunnet"/>
			<xsd:enumeration value="doed"/>
			<xsd:enumeration value="opphoert"/>
			<xsd:enumeration value="foedselsregistrert"/>
			<xsd:enumeration value="midlertidig"/>
			<xsd:enumeration value="inaktiv"/>
			<xsd:enumeration value="ikkeBosatt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Sivilstandstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="uoppgitt"/>
			<xsd:enumeration value="ugift"/>
			<xsd:enumeration value="gift"/>
			<xsd:enumeration value="enkeEllerEnkemann"/>
			<xsd:enumeration value="skilt"/>
			<xsd:enumeration value="separert"/>
			<xsd:enumeration value="registrertPartner"/>
			<xsd:enumeration value="separertPartner"/>
			<xsd:enumeration value="skiltPartner"/>
			<xsd:enumeration value="gjenlevendePartner"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RelatertBiPerson">
		<xsd:sequence>
			<xsd:element name="navn" type="Personnavn"/>
			<xsd:element name="foedselsdato" type="Dato" minOccurs="0"/>
			<xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" minOccurs="0"/>
			<xsd:element name="kjoenn" type="Kjoenn"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Familierelasjontype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="mor"/>
			<xsd:enumeration value="far"/>
			<xsd:enumeration value="medmor"/>
			<xsd:enumeration value="barn"/>
			<xsd:enumeration value="soesken"/>
			<xsd:enumeration value="ektefelleEllerPartner"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="UkjentBosted">
		<xsd:sequence>
			<xsd:element name="bostedskommune" type="Kommunenummer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vegadresse">
		<xsd:annotation>
			<xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="kommunenummer" type="Kommunenummer">
				<xsd:annotation>
					<xsd:documentation>nummer for kommune</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bruksenhetstype" type="Bruksenhetstype" minOccurs="0"/>
			<xsd:element name="adressenavn" type="Tekst">
				<xsd:annotation>
					<xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressekode" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Matrikkeladresse">
		<xsd:annotation>
			<xsd:documentation>adresse i form av et gårds- og bruksnummer og et eventuelt festenummer, eventuelt også et undernummer</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="bruksenhetsnummer" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bruksenhetstype" type="Bruksenhetstype" minOccurs="0"/>
			<xsd:element name="matrikkelnummer" type="Matrikkelnummer">
				<xsd:annotation>
					<xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="undernummer" type="Heltall" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>brukes ved matrikkeladresser når en grunneiendom må tilknyttes flere ulike adresser</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Adressegradering">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ugradert"/>
			<xsd:enumeration value="klientadresse"/>
			<xsd:enumeration value="fortrolig"/>
			<xsd:enumeration value="strengtFortrolig"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InternasjonalAdresse">
		<xsd:annotation>
			<xsd:documentation>adresse til postmottaker i utlandet</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>navn på gate

Merknad til definisjon: Dette er en oversettelse fra streetname og kan ha nummer og bokstav</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bygning" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>navn og/eller nummer på bygning
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="etasjenummer" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>identifikator for etasje</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="boenhet" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nummer på en del av et hus eller annen inndeling</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postboks" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postkode" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="byEllerStedsnavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>navn på by</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="distriktsnavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>navn på et distrikt</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="administrativEnhet" type="Tekst" minOccurs="0" maxOccurs="6">
				<xsd:annotation>
					<xsd:documentation>navn på regional inndeling av land med særlig allmenninteresse</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="landkode" type="LandkodeIsoAlfa3">
				<xsd:annotation>
					<xsd:documentation>geografisk koding av stater, deres oversjøiske områder samt for underinndeling av land</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="OppholdAnnetSted">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="militaer"/>
			<xsd:enumeration value="utenriks"/>
			<xsd:enumeration value="paaSvalbard"/>
			<xsd:enumeration value="pendler"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Postboksadresse">
		<xsd:annotation>
			<xsd:documentation>adresse for å nå noen eller noe levert til en postboks</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="postbokseier" type="Navn" minOccurs="0"/>
			<xsd:element name="postboks" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>nummer på en postboks</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VegadresseForPost">
		<xsd:annotation>
			<xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressekode" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressetilleggsnavn" type="Tekst" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Adressetype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bostedsadresse"/>
			<xsd:enumeration value="oppholdsadresse"/>
			<xsd:enumeration value="postadresse"/>
			<xsd:enumeration value="postadresseIUtlandet"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Personnavn">
		<xsd:annotation>
			<xsd:documentation>navn på person</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="fornavn" type="Navn">
				<xsd:annotation>
					<xsd:documentation>fornavn på person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="mellomnavn" type="Navn" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>mellomnavn på person


</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="etternavn" type="Navn">
				<xsd:annotation>
					<xsd:documentation>etternavn på person</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Organisasjonsnavn">
		<xsd:annotation>
			<xsd:documentation>navn på organisasjon </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:maxLength value="175"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Bruksenhetstype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bolig"/>
			<xsd:enumeration value="annetEnnBolig"/>
			<xsd:enumeration value="fritidsbolig"/>
			<xsd:enumeration value="ikkeGodgjentBolig"/>
			<xsd:enumeration value="unummerertBruksenhet"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Adressenummer">
		<xsd:annotation>
			<xsd:documentation> et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="husnummer" type="Husnummer">
				<xsd:annotation>
					<xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="husbokstav" type="Husbokstav" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Poststed">
		<xsd:annotation>
			<xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="poststedsnavn" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>navn på et poststed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postnummer" type="Postnummer">
				<xsd:annotation>
					<xsd:documentation>nummer på et poststed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Matrikkelnummer">
		<xsd:annotation>
			<xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="kommunenummer" type="Kommunenummer">
				<xsd:annotation>
					<xsd:documentation>nummer for kommune</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="gaardsnummer" type="Heltall">
				<xsd:annotation>
					<xsd:documentation>nummer for gård</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bruksnummer" type="Heltall">
				<xsd:annotation>
					<xsd:documentation>fortløpende nummerering innenfor gårdsnummeret</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="festenummer" type="Heltall" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>tas i bruk når et bruksnummer skal deles opp i flere grunneiendommer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Adressebrukskategori">
		<xsd:annotation>
			<xsd:documentation>kategorisering av måter å bruke en adresse både mht. hva slags adresse beskrevet adresse er og hva man ønsker å utføre ved bruk av adressen.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="offisiellForretning">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir hvor et foretak er offisielt registrert.
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="offisiellPost">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir hvilken offisiell postadresse et foretak har registrert.
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="virksomhet">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir hvilken adresse en virksomhet bedrives på.
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bosted">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir på hvilken adresse en eller flere personer bor.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="post">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir hvilken adresse man kan sende post eller annen fysisk overlevert korrespondanse.
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="leveranse">
				<xsd:annotation>
					<xsd:documentation>brukskategori av adresse som angir hvor en kan levere en fysiske leveranse.
</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ukjent">
				<xsd:annotation>
					<xsd:documentation>ukjent brukskategori for en adresse</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Husnummer">
		<xsd:restriction base="Tekst">
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Husbokstav">
		<xsd:restriction base="Tekst">
			<xsd:length value="1"/>
			<xsd:pattern value="[A-Za-z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Postnummer">
		<xsd:annotation>
			<xsd:documentation>nummer på et poststed</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="4"/>
			<xsd:pattern value="([0-9]){4}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
