docs/sporsmal-og-svar/kontrakter/MeldingOmFlyttingFraPosten_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by ﻿Skatteetaten (Skatteetaten) -->
<xsd:schema xmlns="folkeregisteret:melding:endringavfolkeregisterperson:meldingomflyttingfraposten:v1" xmlns:skatt="http://www.skatteetaten.no/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:endringavfolkeregisterperson:meldingomflyttingfraposten:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<xsd:attribute fixed="2018-01-18T13:20:12.814+0100" name="generertDato"/>
			<xsd:attribute fixed="1.0" name="versjon"/>
			<xsd:attribute fixed="" name="beskrivelse"/>
			<xsd:attribute fixed="MeldingOmFlyttingFraPosten" name="modellnavn"/>
			<xsd:attribute fixed="folkeregisteret:melding:endringavfolkeregisterperson:meldingomflyttingfraposten:v1" name="navnerom"/>
			<xsd:attribute fixed="false" name="begrepsreferanse"/>
			<xsd:attribute fixed="true" name="dokumentasjon"/>
			<xsd:attribute fixed="false" name="nillable"/>
			<xsd:attribute fixed="false" name="modellelement"/>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="meldingOmFlyttingFraPosten" type="MeldingOmFlyttingFraPosten"/>
	<xsd:complexType name="MeldingOmFlyttingFraPosten">
		<xsd:sequence>
			<xsd:element name="innsending" type="Innsending"/>
			<xsd:element name="forespoersel" type="ForespoerselOmFlytting"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AdresseFraPosten">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="vegadresse" type="Vegadresse"/>
				<xsd:element name="postboksadresse" type="Postboksadresse"/>
				<xsd:element name="utenlandskPostadresse" type="InternasjonalAdresse"/>
			</xsd:choice>
			<xsd:element name="flyttedato" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForespoerselOmFlytting">
		<xsd:complexContent>
			<xsd:extension base="InformasjonFraMelding">
				<xsd:sequence>
					<xsd:element name="personSomFlytter" type="Person" maxOccurs="unbounded"/>
					<xsd:element name="nyAdresse" type="AdresseFraPosten"/>
					<xsd:element name="registreringsdato" type="Dato"/>
					<xsd:element name="samtykke" type="Samtykke" maxOccurs="unbounded"/>
					<xsd:element name="adresseendringsidentifikator" type="Identifikator"/>
					<xsd:element name="erAnnullering" type="Boolsk"/>
          <xsd:element name="innsender" type="Foedselsnummer" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Innsending">
		<xsd:sequence>
			<xsd:element name="avsendersMeldingsidentifikator" type="Tekst">
				<xsd:annotation>
					<xsd:documentation>Avsenders identifikator for meldingen som benyttes for referanse mot Folkeregisterets tilbakesendte meldingsidentifikator for samme melding (vårMeldingsidentifikator)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett"/>
			<xsd:element name="kildesystem" type="Tekst" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Person">
		<xsd:sequence>
			<xsd:element name="foedselsnummer" type="Foedselsnummer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Vegadresse">
		<xsd:annotation>
			<xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenavn" type="TekstIAdresse">
				<xsd:annotation>
					<xsd:documentation> navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen; </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller bygningsdel
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InternasjonalAdresse">
		<xsd:annotation>
			<xsd:documentation>adresse til postmottaker i utlandet</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>addresse som er indirekte</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="adressenavn" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>navn på gate
Merknad til definisjon: Dette er en oversettelse fra streetname og kan ha nummer og bokstav</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postboks" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postkode" type="TekstIAdresse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>kode for en postboks eller postnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="landkode" type="LandkodeIsoAlfa3">
				<xsd:annotation>
					<xsd:documentation>geografisk koding av stater, deres oversjøiske områder samt for underinndeling av land</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Samtykke">
		<xsd:sequence>
			<xsd:element name="samtykketype" type="Samtykketype"/>
			<xsd:element name="samtykkeverdi" type="Samtykkeverdi"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Samtykketype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="vegadresse"/>
			<xsd:enumeration value="postadresse"/>
			<xsd:enumeration value="utenlandskAdresse"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Samtykkeverdi">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="samtykkeErGitt"/>
			<xsd:enumeration value="samtykkeErIkkeGitt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InformasjonFraMelding" abstract="true"/>
	<xsd:complexType name="Postboksadresse">
		<xsd:annotation>
			<xsd:documentation>adresse for å nå noen eller noe levert til en postboks</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="postbokseier" type="NavnMedInnhold" minOccurs="0"/>
			<xsd:element name="postboks" type="TekstIAdresse">
				<xsd:annotation>
					<xsd:documentation>nummer på en postboks</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="poststed" type="Poststed">
				<xsd:annotation>
					<xsd:documentation>geografisk inndeling av postmottakere
</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Dato">
		<xsd:annotation>
			<xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i  ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
Eksempel : 1998-12-21 eller 19981221. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tekst">
		<xsd:annotation>
			<xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identifikator">
		<xsd:restriction base="Tekst"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolsk">
		<xsd:annotation>
			<xsd:documentation>angir verdien sann eller usann</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="DatoKlokkeslett">
		<xsd:annotation>
			<xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times). </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Foedselsnummer">
		<xsd:annotation>
			<xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste personnummer.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="11"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TekstMedInnhold">
		<xsd:restriction base="Tekst">
			<xsd:pattern value="\s*\S.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TekstIAdresse">
		<xsd:restriction base="TekstMedInnhold">
			<xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸáàâãäçðéèêëíìîïñóòôõößþúùûüýÿ \-0-9_:'.,()/#&amp;quot;&amp;amp;]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Adressenummer">
		<xsd:annotation>
			<xsd:documentation> et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="husnummer" type="Husnummer">
				<xsd:annotation>
					<xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="husbokstav" type="Husbokstav" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar gate, veg, sti, plass eller område</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Poststed">
		<xsd:annotation>
			<xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="poststedsnavn" type="TekstIAdresse">
				<xsd:annotation>
					<xsd:documentation>navn på et poststed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="postnummer" type="Postnummer">
				<xsd:annotation>
					<xsd:documentation>nummer på et poststed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="LandkodeIsoAlfa3">
		<xsd:restriction base="Tekst">
			<xsd:length value="3"/>
			<xsd:pattern value="([A-Z]){3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NavnMedInnhold">
		<xsd:restriction base="TekstMedInnhold">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Husnummer">
		<xsd:restriction base="Tekst">
			<xsd:maxLength value="4"/>
			<xsd:pattern value="[0-9]+"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Husbokstav">
		<xsd:restriction base="Tekst">
			<xsd:length value="1"/>
			<xsd:pattern value="[A-Za-z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Postnummer">
		<xsd:annotation>
			<xsd:documentation>nummer på et poststed</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Tekst">
			<xsd:length value="4"/>
			<xsd:pattern value="([0-9]){4}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>