docs/standardtjenester/kontrakter/MeldingOmInnflytting_v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:innflytting:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:innflytting:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2018-04-23T13:47:30.957+0200" name="generertDato" />
      <xsd:attribute fixed="1.0" name="versjon" />
      <xsd:attribute fixed="" name="beskrivelse" />
      <xsd:attribute fixed="Innflytting" name="modellnavn" />
      <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:innflytting:v1" name="navnerom" />
      <xsd:attribute fixed="false" name="begrepsreferanse" />
      <xsd:attribute fixed="true" name="dokumentasjon" />
      <xsd:attribute fixed="false" name="nillable" />
      <xsd:attribute fixed="false" name="modellelement" />
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="meldingOmInnflytting" type="MeldingOmInnflytting" />
  <xsd:complexType name="MeldingOmInnflytting">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending" />
      <xsd:element name="forespoersel" type="ForespoerselOmInnflytting" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Familierelasjon">
    <xsd:sequence>
      <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" minOccurs="0" />
      <xsd:element name="kjoenn" type="Kjoenn" minOccurs="0" />
      <xsd:element name="relatertPersonsRolle" type="Familierelasjontype" />
      <xsd:element name="utlendingsmyndighetenesIdentifikasjonsnummer" type="Tekst" minOccurs="0" />
      <xsd:element name="navn" type="Personnavn" minOccurs="0" />
      <xsd:element name="foedselsdato" type="Dato" minOccurs="0" />
      <xsd:element name="vigselsdato" type="Dato" minOccurs="0" />
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="erPaastandsbasert" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Folkeregisterkandidat">
    <xsd:sequence>
      <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" minOccurs="0" />
      <xsd:element name="navn" type="Personnavn" />
      <xsd:element name="foedselsdato" type="Dato" />
      <xsd:element name="foedeland" type="LandkodeIsoAlfa3" />
      <xsd:element name="foedested" type="Tekst" minOccurs="0" />
      <xsd:element name="kjoenn" type="Kjoenn" />
      <xsd:element name="sivilstand" type="Sivilstand" />
      <xsd:element name="statsborgerskap" type="Statsborgerskap" />
      <xsd:element name="bostedsadresse" type="OffisiellBostedsadresse" />
      <xsd:element name="postadresse" type="Kontaktadresse" minOccurs="0" />
      <xsd:element name="fraflyttingsland" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="legitimasjonskontroll" type="Identitetsgrunnlagstatus" />
      <xsd:element name="familierelasjon" type="Familierelasjon" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="opphold" type="Opphold" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmInnflytting">
    <xsd:sequence>
      <xsd:element name="kilde" type="KildeForInnflytting" />
      <xsd:element name="registreringsdato" type="Dato" />
      <xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0" />
      <xsd:element name="avsendersSaksbehandler" type="Tekst" />
      <xsd:element name="kandidat" type="Folkeregisterkandidat" />
      <xsd:element name="identifikasjon" type="Identifikasjon" minOccurs="0" maxOccurs="unbounded" />
      <xsd:element name="papirrekvisisjon" type="Papirrekvisisjon" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjon">
    <xsd:sequence>
      <xsd:element name="personidentifikasjon" type="Personidentifikasjon" minOccurs="0" />
      <xsd:element name="dokumentgrunnlag" type="Identifikasjonsdokument" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokument">
    <xsd:sequence>
      <xsd:element name="identifikasjonsdokumentnummer" type="TekstMedInnhold" minOccurs="0" />
      <xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype" />
      <xsd:element name="utstedernavn" type="NavnMedInnhold" minOccurs="0" />
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
      <xsd:element name="gyldigFra" type="Dato" minOccurs="0" />
      <xsd:element name="gyldigTil" type="Dato" minOccurs="0" />
      <xsd:element name="dokumentkopi" type="Identifikasjonsdokumentkopi" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Identifikasjonsdokumentkopi">
    <xsd:sequence>
      <xsd:element name="rettkjentKopiBekreftetAv" type="Identifikator" minOccurs="0" />
      <xsd:element name="bekreftersLand" type="LandkodeIsoAlfa3" minOccurs="0" />
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst">
        <xsd:annotation>
          <xsd:documentation>Avsenders identifikator for meldingen som benyttes for referanse mot Folkeregisterets tilbakesendte meldingsidentifikator
            for samme melding (vårMeldingsidentifikator)
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett" />
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Kontaktadresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="postboksadresse" type="Postboksadresse" />
        <xsd:element name="vegadresse" type="VegadresseForPost" />
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OffisiellBostedsadresse">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="vegadresse" type="Vegadresse" />
        <xsd:element name="matrikkeladresse" type="Matrikkeladresse" />
        <xsd:element name="ukjentBosted" type="UkjentBosted" />
      </xsd:choice>
      <xsd:element name="erKlientadresse" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Opphold">
    <xsd:sequence>
      <xsd:element name="oppholdstillatelse" type="Oppholdstillatelsetype" />
      <xsd:element name="oppholdFra" type="Dato" />
      <xsd:element name="oppholdTil" type="Dato" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Papirrekvisisjon">
    <xsd:sequence>
      <xsd:element name="multipartnavn" type="Tekst" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Personidentifikasjon">
    <xsd:sequence>
      <xsd:element name="identifikasjonsnummer" type="Tekst" />
      <xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype" />
      <xsd:element name="utstederland" type="LandkodeIsoAlfa3" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Sivilstand">
    <xsd:sequence>
      <xsd:element name="sivilstand" type="Sivilstandstype" />
      <xsd:element name="erPaastandsbasert" type="Boolsk" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Statsborgerskap">
    <xsd:sequence>
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UkjentBosted">
    <xsd:sequence>
      <xsd:element name="bostedskommune" type="Kommunenummer" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VegadresseForPost">
    <xsd:annotation>
      <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
            innenfor en adresserbar gate, veg, sti, plass eller område
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller
            bygningsdel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressekode" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikasjonsdokumenttype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="pass" />
      <xsd:enumeration value="servicepass" />
      <xsd:enumeration value="tjenestepass" />
      <xsd:enumeration value="spesialpass" />
      <xsd:enumeration value="diplomatpass" />
      <xsd:enumeration value="utlendingspass" />
      <xsd:enumeration value="noedpass" />
      <xsd:enumeration value="passerbrev" />
      <xsd:enumeration value="nasjonaltIdentitetskort" />
      <xsd:enumeration value="reisebevisForFlyktninger" />
      <xsd:enumeration value="schengenStandardisertOppholdskort" />
      <xsd:enumeration value="foererkort" />
      <xsd:enumeration value="foedselsattest" />
      <xsd:enumeration value="annet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="KildeForInnflytting">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsdirektoratet" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne" />
      <xsd:enumeration value="mann" />
      <xsd:enumeration value="ukjent" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Oppholdstillatelsetype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="midlertidig" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:annotation>
      <xsd:documentation>vilkårlig lang sekvens av tegn inkludert aksenter og spesielle tegn fra standardiserte tegnsett
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:annotation>
      <xsd:documentation>ellevesifret identifikasjonsnummer for personer bosatt i Norge, der de seks første sifrene angir fødselsdato og de fem siste
        personnummer.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="11" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Familierelasjontype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="mor" />
      <xsd:enumeration value="far" />
      <xsd:enumeration value="medmor" />
      <xsd:enumeration value="barn" />
      <xsd:enumeration value="soesken" />
      <xsd:enumeration value="ektefelleEllerPartner" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:annotation>
      <xsd:documentation>navn på person</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="fornavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>fornavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="mellomnavn" type="TekstIPersonnavn" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>mellomnavn på person
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="etternavn" type="TekstIPersonnavn">
        <xsd:annotation>
          <xsd:documentation>etternavn på person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato">
    <xsd:annotation>
      <xsd:documentation>gir verdier for år, måned og dag. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO 8601:2004 Data
        elements and interchange formats -- Information interchange -- Representation of dates and times).
        Eksempel : 1998-12-21 eller 19981221.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3" />
      <xsd:pattern value="([A-Z]){3}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:annotation>
      <xsd:documentation>angir verdien sann eller usann</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>
  <xsd:simpleType name="Identitetsgrunnlagstatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ingenStatus" />
      <xsd:enumeration value="ikkeKontrollert" />
      <xsd:enumeration value="kontrollert" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NavnMedInnhold">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Identifikator">
    <xsd:restriction base="Tekst" />
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:annotation>
      <xsd:documentation>en kombinasjon av typene Dato og Klokkeslett. Kodes som en tekststreng etter datoformatering spesifisert i ISO 8601 (ISO
        8601:2004 Data elements and interchange formats -- Information interchange -- Representation of dates and times).
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:dateTime" />
  </xsd:simpleType>
  <xsd:complexType name="Postboksadresse">
    <xsd:annotation>
      <xsd:documentation>adresse for å nå noen eller noe levert til en postboks</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="postbokseier" type="NavnMedInnhold" minOccurs="0" />
      <xsd:element name="postboks" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>nummer på en postboks</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse">
    <xsd:annotation>
      <xsd:documentation>adresse i form av gatenavn, husnummer og eventuell husbokstav</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>navn på gate, veg, sti, plass eller område, brukt som del av den offisielle adressen;</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
            innenfor en adresserbar gate, veg, sti, plass eller område
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller
            bygningsdel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poststed" type="Poststed">
        <xsd:annotation>
          <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressekode" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer adresserbare gater, veger, stier, plasser og områder som er ført i matrikkelen
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="kommunenummer" type="Kommunenummer">
        <xsd:annotation>
          <xsd:documentation>nummer for kommune</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Matrikkeladresse">
    <xsd:annotation>
      <xsd:documentation>adresse i form av et gårds- og bruksnummer og et eventuelt festenummer, eventuelt også et undernummer</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="adressetilleggsnavn" type="TekstIAdresse" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation>nedarvet bruksnavn eller navn på en institusjon eller bygning, brukt som del av den offisielle adressen
            </xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="matrikkeladressenavn" type="TekstIAdresse" minOccurs="0" />
      </xsd:choice>
      <xsd:element name="coAdressenavn" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>addresse som er indirekte</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksenhetsnummer" type="TekstIAdresse" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>en bokstav og fire siffer som entydig identifiserer den enkelte bruksenheten innenfor en adresserbar bygning eller
            bygningsdel
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="matrikkelnummer" type="Matrikkelnummer">
        <xsd:annotation>
          <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="undernummer" type="Heltall" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>brukes ved matrikkeladresser når en grunneiendom må tilknyttes flere ulike adresser</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Identifikasjonsnummertype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer" />
      <xsd:enumeration value="taxIdentificationNumber" />
      <xsd:enumeration value="socialSecurityNumber" />
      <xsd:enumeration value="utenlandskIdentifikasjonsnummer" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Sivilstandstype">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="uoppgitt" />
      <xsd:enumeration value="ugift" />
      <xsd:enumeration value="gift" />
      <xsd:enumeration value="enkeEllerEnkemann" />
      <xsd:enumeration value="skilt" />
      <xsd:enumeration value="separert" />
      <xsd:enumeration value="registrertPartner" />
      <xsd:enumeration value="separertPartner" />
      <xsd:enumeration value="skiltPartner" />
      <xsd:enumeration value="gjenlevendePartner" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:annotation>
      <xsd:documentation>nummer for kommune</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TekstIAdresse">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸáàâãäçðéèêëíìîïñóòôõößþúùûüýÿ \-0-9_:'.,()/#&quot;&amp;]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Adressenummer">
    <xsd:annotation>
      <xsd:documentation>et nummer og en eventuell bokstav som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
        innenfor en adresserbar gate, veg, sti, plass eller område
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="husnummer" type="Husnummer">
        <xsd:annotation>
          <xsd:documentation>nummer som entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger innenfor en adresserbar
            gate, veg, sti, plass eller område
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>bokstav som sammen med husnummer entydig identifiserer eiendommer, anlegg, bygninger eller innganger til bygninger
            innenfor en adresserbar gate, veg, sti, plass eller område
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Poststed">
    <xsd:annotation>
      <xsd:documentation>geografisk inndeling av postmottakere</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="poststedsnavn" type="TekstIAdresse">
        <xsd:annotation>
          <xsd:documentation>navn på et poststed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postnummer" type="Postnummer">
        <xsd:annotation>
          <xsd:documentation>nummer på et poststed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TekstIPersonnavn">
    <xsd:restriction base="TekstMedInnhold">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
      <xsd:pattern value="[a-zA-ZæøåÆØÅÁÀÂÃÄÇÐÉÈÊËÍÌÎÏÑÓÒÔÕÖÞÚÙÛÜÝŸáàâãäçðéèêëíìîïñóòôõößþúùûüýÿ \-']+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Matrikkelnummer">
    <xsd:annotation>
      <xsd:documentation>offisiell benevnelse for hver enkel matrikkelenhet</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="kommunenummer" type="Kommunenummer">
        <xsd:annotation>
          <xsd:documentation>nummer for kommune</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="gaardsnummer" type="Heltall">
        <xsd:annotation>
          <xsd:documentation>nummer for gård</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="bruksnummer" type="Heltall">
        <xsd:annotation>
          <xsd:documentation>fortløpende nummerering innenfor gårdsnummeret</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="festenummer" type="Heltall" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>tas i bruk når et bruksnummer skal deles opp i flere grunneiendommer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Heltall">
    <xsd:annotation>
      <xsd:documentation>hele tall, dvs. hele tall i mengden {..., -2, -1, 0, 1, 2, ...}</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>
  <xsd:simpleType name="Husnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="4" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husbokstav">
    <xsd:restriction base="Tekst">
      <xsd:length value="1" />
      <xsd:pattern value="[A-Za-z]" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer">
    <xsd:annotation>
      <xsd:documentation>nummer på et poststed</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="Tekst">
      <xsd:length value="4" />
      <xsd:pattern value="([0-9]){4}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
