docs/om-tjenestene/kontrakter/Foedselsmelding_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by ﻿Skatteetaten (Skatteetaten) -->
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:foedselsmelding:v1" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:foedselsmelding:v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="DigitalSignatur.xsd"/>
  <xsd:annotation>
    <xsd:documentation>
      <xsd:attribute fixed="2017-06-09T17:08:16.029+0200" name="generertDato"/>
      <xsd:attribute fixed="1.0" name="versjon"/>
      <xsd:attribute fixed="" name="beskrivelse"/>
      <xsd:attribute fixed="Foedselsmelding" name="modellnavn"/>
      <xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:fødselsmelding:v1" name="navnerom"/>
      <xsd:attribute fixed="true" name="begrepsreferanse"/>
      <xsd:attribute fixed="true" name="dokumentasjon"/>
      <xsd:attribute fixed="false" name="nillable"/>
      <xsd:attribute fixed="false" name="modellelement"/>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:element name="foedselsmelding" type="Foedselsmelding"/>
  <xsd:complexType name="Foedselsmelding">
    <xsd:sequence>
      <xsd:element name="innsending" type="Innsending"/>
      <xsd:element name="forespoersel" type="ForespoerselOmInnmeldingAvFoedsel"/>
      <xsd:element ref="ds:Signature" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Barn">
    <xsd:sequence>
      <xsd:element name="foedselsdato" type="Dato"/>
      <xsd:element name="erLevendefoedt" type="Boolsk"/>
      <xsd:element name="rekkefoelgenummerVedFlerfoedsel" type="Rekkefoelgenummer" minOccurs="0"/>
      <xsd:element name="kjoenn" type="Kjoenn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ForespoerselOmInnmeldingAvFoedsel">
    <xsd:sequence>
      <xsd:element name="foedsel" type="Foedsel"/>
      <xsd:element name="registreringsdato" type="Dato"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foedested">
    <xsd:sequence>
      <xsd:element name="foedekommunenummer" type="Kommunenummer"/>
      <xsd:element name="foedekommunenavn" type="Navn"/>
      <xsd:element name="foedeinstitusjon" type="Helseinstitusjon" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Foedsel">
    <xsd:sequence>
      <xsd:element name="foreldreBorSammen" type="Boolsk"/>
      <xsd:element name="foreldreErGift" type="Boolsk"/>
      <xsd:element name="erFlerfoedsel" type="Boolsk"/>
      <xsd:element name="barn" type="Barn"/>
      <xsd:element name="mor" type="Forelder"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="far" type="Forelder"/>
        <xsd:element name="medmor" type="Forelder"/>
      </xsd:choice>
      <xsd:element name="foedested" type="Foedested"/>
      <xsd:element name="jordmorEllerForloesendeLege" type="Person"/>
      <xsd:element name="foedselsvitne" type="Person" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Forelder">
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer" minOccurs="0"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="navn" type="Personnavn"/>
          <xsd:element name="foedselsdato" type="Dato"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="statsborgerskapErUkjent" type="Boolsk" minOccurs="0"/>
      <xsd:element name="statsborgerskap" type="LandkodeIsoAlfa3" minOccurs="0"/>
      <xsd:element name="bostedsEllerOppholdsadresse" type="Vegadresse" minOccurs="0"/>
      <xsd:element name="utenlandskAdresse" type="InternasjonalAdresse" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Helseinstitusjon">
    <xsd:sequence>
      <xsd:element name="navn" type="Navn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Person">
    <xsd:sequence>
      <xsd:element name="navn" type="Personnavn"/>
      <xsd:element name="foedselsEllerDNummer" type="Foedselsnummer"/>
      <xsd:element name="autentiseringsInformasjon" type="Tekst"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Innsending">
    <xsd:sequence>
      <xsd:element name="avsendersMeldingsidentifikator" type="Tekst"/>
      <xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett"/>
      <xsd:element name="kildesystem" type="Tekst" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Dato">
    <xsd:restriction base="xsd:date"/>
  </xsd:simpleType>
  <xsd:simpleType name="Boolsk">
    <xsd:restriction base="xsd:boolean"/>
  </xsd:simpleType>
  <xsd:simpleType name="Rekkefoelgenummer">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="nummer1Av2"/>
      <xsd:enumeration value="nummer2Av2"/>
      <xsd:enumeration value="nummer1Av3"/>
      <xsd:enumeration value="nummer2Av3"/>
      <xsd:enumeration value="nummer3Av3"/>
      <xsd:enumeration value="nummer1Av4"/>
      <xsd:enumeration value="nummer2Av4"/>
      <xsd:enumeration value="nummer3Av4"/>
      <xsd:enumeration value="nummer4Av4"/>
      <xsd:enumeration value="nummer1Av5"/>
      <xsd:enumeration value="nummer2Av5"/>
      <xsd:enumeration value="nummer3Av5"/>
      <xsd:enumeration value="nummer4Av5"/>
      <xsd:enumeration value="nummer5Av5"/>
      <xsd:enumeration value="nummer1Av6"/>
      <xsd:enumeration value="nummer2Av6"/>
      <xsd:enumeration value="nummer3Av6"/>
      <xsd:enumeration value="nummer4Av6"/>
      <xsd:enumeration value="nummer5Av6"/>
      <xsd:enumeration value="nummer6Av6"/>
      <xsd:enumeration value="nummer1Av7"/>
      <xsd:enumeration value="nummer2Av7"/>
      <xsd:enumeration value="nummer3Av7"/>
      <xsd:enumeration value="nummer4Av7"/>
      <xsd:enumeration value="nummer5Av7"/>
      <xsd:enumeration value="nummer6Av7"/>
      <xsd:enumeration value="nummer7Av7"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kjoenn">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="kvinne"/>
      <xsd:enumeration value="mann"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Personnavn">
    <xsd:sequence>
      <xsd:element name="fornavn" type="Navn"/>
      <xsd:element name="mellomnavn" type="Navn" minOccurs="0"/>
      <xsd:element name="etternavn" type="Navn"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Foedselsnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="11"/>
      <xsd:pattern value="[0-9]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LandkodeIsoAlfa3">
    <xsd:restriction base="Tekst">
      <xsd:length value="3"/>
      <xsd:pattern value="([A-Z]){3}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="InternasjonalAdresse">
    <xsd:sequence>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="adressenavn" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="adressenummer" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="bygning" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="etasjenummer" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="boenhet" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="postboks" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="postkode" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="byEllerStedsnavn" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="distriktsnavn" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="administrativEnhet" type="TekstMedInnhold" minOccurs="0" maxOccurs="6"/>
      <xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0"/>
      <xsd:element name="landkode" type="LandkodeIsoAlfa3"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Vegadresse">
    <xsd:sequence>
      <xsd:element name="adressenErAvvikendeFraFolkeregisteret" type="Boolsk"/>
      <xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="adressenavn" type="TekstMedInnhold"/>
      <xsd:element name="adressenummer" type="Adressenummer" minOccurs="0"/>
      <xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="poststed" type="Poststed"/>
      <xsd:element name="adressekode" type="TekstMedInnhold" minOccurs="0"/>
      <xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="Navn">
    <xsd:restriction base="Tekst">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="200"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Kommunenummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4"/>
      <xsd:pattern value="([0-9]){4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Tekst">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="4000"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DatoKlokkeslett">
    <xsd:restriction base="xsd:dateTime"/>
  </xsd:simpleType>
  <xsd:simpleType name="TekstMedInnhold">
    <xsd:restriction base="Tekst">
      <xsd:pattern value="\s*\S.*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husnummer">
    <xsd:restriction base="Tekst">
      <xsd:maxLength value="4"/>
      <xsd:pattern value="[0-9]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Husbokstav">
    <xsd:restriction base="Tekst">
      <xsd:length value="1"/>
      <xsd:pattern value="[A-Za-z]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Postnummer">
    <xsd:restriction base="Tekst">
      <xsd:length value="4"/>
      <xsd:pattern value="([0-9]){4}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Adressebrukskategori">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="offisiellForretning"/>
      <xsd:enumeration value="offisiellPost"/>
      <xsd:enumeration value="virksomhet"/>
      <xsd:enumeration value="bosted"/>
      <xsd:enumeration value="post"/>
      <xsd:enumeration value="leveranse"/>
      <xsd:enumeration value="ukjent"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Adressenummer">
    <xsd:sequence>
      <xsd:element name="husnummer" type="Husnummer"/>
      <xsd:element name="husbokstav" type="Husbokstav" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Poststed">
    <xsd:sequence>
      <xsd:element name="poststedsnavn" type="TekstMedInnhold"/>
      <xsd:element name="postnummer" type="Postnummer"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
