docs/konsumenttjenester/kontrakter/RekvisisjonAvDNummer_3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v3" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<xsd:attribute fixed="2017-03-03T15:55:59.778+0100" name="generertDato"/>
			<xsd:attribute fixed="3.0" name="versjon"/>
			<xsd:attribute fixed="" name="beskrivelse"/>
			<xsd:attribute fixed="RekvisisjonAvDNummer" name="modellnavn"/>
			<xsd:attribute fixed="folkeregisteret:melding:nyfolkeregisterperson:rekvisisjonavdnummer:v3" name="navnerom"/>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="rekvisisjonAvDNummer" type="RekvisisjonAvDNummer"/>
	<xsd:complexType name="RekvisisjonAvDNummer">
		<xsd:sequence>
			<xsd:element name="innsending" type="Innsending"/>
			<xsd:element name="forespoersel" type="ForespoerselOmRekvisisjonAvDNummer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BekreftelsePaaManglendeIdentifikasjonsdokument">
		<xsd:sequence>
			<xsd:element name="identifikasjonsdokumentMangler" type="Boolsk"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BekreftetIdentitet">
		<xsd:sequence>
			<xsd:element name="identitetErBekreftet" type="Boolsk"/>
			<xsd:element name="organisasjonsnavn" type="Navn"/>
			<xsd:element name="organisasjonsidentifikator" type="Tekst" minOccurs="0"/>
			<xsd:element name="bekreftersLand" type="LandkodeISOAlpha3" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ForespoerselOmRekvisisjonAvDNummer">
		<xsd:sequence>
			<xsd:element name="kandidat" type="Folkeregisterkandidat"/>
			<xsd:element name="kilde" type="KildeForRekvisisjonAvDNummer"/>
			<xsd:element name="rekvireringsdato" type="Dato"/>
			<xsd:element name="identifikasjon" type="Personidentifikasjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="avsendersSaksreferanse" type="Tekst" minOccurs="0"/>
			<xsd:element name="avsendersSaksbehandler" type="Tekst" nillable="true"/>
			<xsd:element name="identitetskontrollKreves" type="Boolsk"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Identifikasjonsdokumentkopi">
		<xsd:sequence>
			<xsd:element name="dokumentkopi" type="BinaerInformasjon"/>
			<xsd:element name="rettkjentKopiBekreftetAv" type="Identifikator" minOccurs="0"/>
			<xsd:element name="bekreftersLand" type="LandkodeISOAlpha3" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Adressenummer">
		<xsd:sequence>
			<xsd:element name="husnummer" type="TekstMedInnhold"/>
			<xsd:element name="husbokstav" type="TekstMedInnhold" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InternasjonalAdresse">
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="adressenavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="adressenummer" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="bygning" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="etasjenummer" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="boenhet" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="postboks" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="postkode" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="byEllerStedsnavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="distriktsnavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="administrativEnhet" type="TekstMedInnhold" minOccurs="0" maxOccurs="6"/>
			<xsd:element name="adressebrukskategori" type="Adressebrukskategori" minOccurs="0"/>
			<xsd:element name="landkode" type="Landkode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Personnavn">
		<xsd:sequence>
			<xsd:element name="fornavn" type="Navn"/>
			<xsd:element name="mellomnavn" type="Navn" minOccurs="0"/>
			<xsd:element name="etternavn" type="Navn"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Innsending">
		<xsd:sequence>
			<xsd:element name="avsendersMeldingsidentifikator" type="Tekst"/>
			<xsd:element name="avsendersInnsendingstidspunkt" type="DatoKlokkeslett"/>
			<xsd:element name="kildesystem" type="Tekst" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Boolsk">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Navn">
		<xsd:restriction base="TekstMedInnhold"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tekst">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="4000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LandkodeISOAlpha3">
		<xsd:restriction base="Tekst">
			<xsd:length value="3"/>
			<xsd:pattern value="([A-Z]){3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Folkeregisterkandidat">
		<xsd:sequence>
			<xsd:element name="navn" type="Personnavn"/>
			<xsd:element name="foedselsdatoErKjent" type="Boolsk"/>
			<xsd:element name="foedselsdato" type="Dato"/>
			<xsd:element name="foedeland" type="LandkodeISOAlpha3" minOccurs="0"/>
			<xsd:element name="kjoenn" type="Kjoenn"/>
			<xsd:element name="oppholdsadresse" type="OffisiellOppholdsAdresse" minOccurs="0"/>
			<xsd:element name="postadresse" type="Kontaktadresse" minOccurs="0"/>
			<xsd:element name="postadresseIUtlandet" type="Kontaktadresse" minOccurs="0"/>
			<xsd:element name="statsborgerskap" type="LandkodeISOAlpha3" maxOccurs="unbounded"/>
			<xsd:element name="harUkjentOppholdsadresse" type="Boolsk"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="KildeForRekvisisjonAvDNummer">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="utlendingsdirektoratet"/>
			<xsd:enumeration value="nav"/>
			<xsd:enumeration value="skatteetaten"/>
			<xsd:enumeration value="skatteetatenPaaSvalbard"/>
			<xsd:enumeration value="bankOgFinansinstitusjon"/>
			<xsd:enumeration value="helfo"/>
			<xsd:enumeration value="broennoeysundregistrene"/>
			<xsd:enumeration value="statensKartverk"/>
			<xsd:enumeration value="verdipapirsentralen"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dato">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:complexType name="Personidentifikasjon">
		<xsd:sequence>
			<xsd:element name="identifikasjonsnummer" type="Tekst" minOccurs="0"/>
			<xsd:element name="identifikasjonsnummertype" type="Identifikasjonsnummertype" minOccurs="0"/>
			<xsd:element name="dokumentgrunnlag" type="Identifikasjonsdokument" minOccurs="0"/>
			<xsd:element name="utstedernavn" type="Navn" minOccurs="0"/>
			<xsd:element name="identitetsbekreftelse" type="BekreftetIdentitet" minOccurs="0"/>
			<xsd:element name="utstederland" type="LandkodeISOAlpha3" minOccurs="0"/>
			<xsd:element name="manglendeDokumentgrunnlag" type="BekreftelsePaaManglendeIdentifikasjonsdokument" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BinaerInformasjon">
		<xsd:sequence>
			<xsd:element name="mimetype" type="TekstMedInnhold"/>
			<xsd:element name="innhold" type="Base64Binaer" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Identifikator">
		<xsd:restriction base="Tekst"/>
	</xsd:simpleType>
	<xsd:simpleType name="TekstMedInnhold">
		<xsd:restriction base="Tekst">
			<xsd:pattern value="\s*\S.*"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Adressebrukskategori">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="offisiellForretning"/>
			<xsd:enumeration value="offisiellPost"/>
			<xsd:enumeration value="virksomhet"/>
			<xsd:enumeration value="bosted"/>
			<xsd:enumeration value="post"/>
			<xsd:enumeration value="leveranse"/>
			<xsd:enumeration value="ukjent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Landkode">
		<xsd:restriction base="Tekst">
			<xsd:length value="3"/>
			<xsd:pattern value="([A-Z]){3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DatoKlokkeslett">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="Kjoenn">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="kvinne"/>
			<xsd:enumeration value="mann"/>
			<xsd:enumeration value="ukjent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OffisiellOppholdsAdresse">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="vegadresse" type="Vegadresse"/>
				<xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
			</xsd:choice>
			<xsd:element name="erKlientadresse" type="Boolsk"/>
			<xsd:element name="oppholdsadressedato" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Kontaktadresse">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="postboksadresse" type="Postboksadresse"/>
				<xsd:element name="vegadresse" type="Vegadresse"/>
				<xsd:element name="matrikkeladresse" type="Matrikkeladresse"/>
				<xsd:element name="utenlandskPostadresse" type="InternasjonalAdresse"/>
			</xsd:choice>
			<xsd:element name="erKlientadresse" type="Boolsk"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Identifikasjonsnummertype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="utlendingsmyndighetenesIdentifikasjonsnummer"/>
			<xsd:enumeration value="taxIdentificationNumber"/>
			<xsd:enumeration value="socialSecurityNumber"/>
			<xsd:enumeration value="utenlandskIdentifikasjonsnummer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Identifikasjonsdokument">
		<xsd:sequence>
			<xsd:element name="identifikasjonsdokumentnummer" type="TekstMedInnhold"/>
			<xsd:element name="identifikasjonsdokumenttype" type="Identifikasjonsdokumenttype"/>
			<xsd:element name="utstedernavn" type="Navn" minOccurs="0"/>
			<xsd:element name="utstederland" type="LandkodeISOAlpha3"/>
			<xsd:element name="gyldigFra" type="Dato"/>
			<xsd:element name="dokumentkopi" type="Identifikasjonsdokumentkopi" minOccurs="0"/>
			<xsd:element name="gyldigTil" type="Dato" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Base64Binaer">
		<xsd:restriction base="xsd:base64Binary"/>
	</xsd:simpleType>
	<xsd:complexType name="Vegadresse">
		<xsd:sequence>
			<xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="adressenavn" type="TekstMedInnhold"/>
			<xsd:element name="adressenummer" type="Adressenummer" minOccurs="0"/>
			<xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="poststed" type="Poststed"/>
			<xsd:element name="adressekode" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="kommunenummer" type="Kommunenummer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Matrikkeladresse">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="adressetilleggsnavn" type="TekstMedInnhold" minOccurs="0"/>
				<xsd:element name="matrikkeladressenavn" type="TekstMedInnhold" minOccurs="0"/>
			</xsd:choice>
			<xsd:element name="coAdressenavn" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="bruksenhetsnummer" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="matrikkelnummer" type="Matrikkelnummer"/>
			<xsd:element name="undernummer" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Postboksadresse">
		<xsd:sequence>
			<xsd:element name="postboks" type="TekstMedInnhold" minOccurs="0"/>
			<xsd:element name="poststed" type="Poststed" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Identifikasjonsdokumenttype">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="pass"/>
			<xsd:enumeration value="servicepass"/>
			<xsd:enumeration value="tjenestepass"/>
			<xsd:enumeration value="spesialpass"/>
			<xsd:enumeration value="diplomatpass"/>
			<xsd:enumeration value="norskUtlendingspass"/>
			<xsd:enumeration value="noedpass"/>
			<xsd:enumeration value="passerbrev"/>
			<xsd:enumeration value="nasjonaltIdentitetskort"/>
			<xsd:enumeration value="reisebevisForFlyktninger"/>
			<xsd:enumeration value="schengenStandardisertOppholdskortFraNorge"/>
			<xsd:enumeration value="nordiskFoererkort"/>
			<xsd:enumeration value="foedselsmelding"/>
			<xsd:enumeration value="tiltroddTredjepart"/>
			<xsd:enumeration value="annet"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Poststed">
		<xsd:sequence>
			<xsd:element name="poststedsnavn" type="Tekst"/>
			<xsd:element name="postnummer" type="Postnummer"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Kommunenummer">
		<xsd:restriction base="Tekst">
			<xsd:length value="4"/>
			<xsd:pattern value="([0-9]){4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Matrikkelnummer">
		<xsd:sequence>
			<xsd:element name="kommunenummer" type="Kommunenummer"/>
			<xsd:element name="gaardsnummer" type="Heltall"/>
			<xsd:element name="bruksnummer" type="Heltall"/>
			<xsd:element name="festenummer" type="Heltall" minOccurs="0"/>
			<xsd:element name="seksjonsnummer" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Heltall">
		<xsd:restriction base="xsd:long"/>
	</xsd:simpleType>
	<xsd:simpleType name="Postnummer">
		<xsd:restriction base="Tekst">
			<xsd:length value="4"/>
			<xsd:pattern value="([0-9]){4}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
